[2022-02-10 06:37] ilgooz opened #2073 "cmd/network: implement `profile` command"
List the owned vouchers by user in a nice way, since vouchers don’t have a UX friendly denom (this user possess this allocation of the supply of foo for the campaign bar).

[code]

[2022-02-10 06:41] ilgooz commented on #2059
@marinhoarthur can you please leave a comment here when the frontend is ready?

[2022-02-10 09:49] ilgooz opened #2074 "cmd/network: `c publish` should also set consensus address"
With this [method](https://github.com/tendermint/spn/blob/772b574/proto/profile/tx.proto#L15).

[2022-02-10 09:52] ilgooz opened #2075 "cmd/network: add `c publish`"

[2022-02-10 09:52] ilgooz opened #2076 "cmd/network: add `--reward` to `c publish`"
`network chain publish ... --reward 200atom`

See related [func](https://github.com/tendermint/spn/blob/4a2d330/proto/reward/tx.proto#L12).

Publishing an incentivized testnet (basically same as publishing a chain but calling MsgSetReward as well to set rewards associated with the chain).

[2022-02-10 10:01] ilgooz opened #2077 "cmd/network: add `chain reward set` cmd"
`network chain reward set [launchdID] [coins]`

Changing rewards for a testnet and eventually withdrawing them. Before the launch is triggered, the reward can be changed.

See related [func](https://github.com/tendermint/spn/blob/4a2d330/proto/reward/tx.proto#L12).

[2022-02-10 23:25] 7AC opened #2080 "tendermint/starport/actions/cli@<version> uses latest develop branch"
**Describe the bug**
I'm trying to use the `cli` action at the version appropriate for my SDK, based on:

https://github.com/tendermint/starport#cosmos-sdk-compatibility

Looks like the action version has no effect since the Dockerfile always picks up HEAD from the `develop` branch:

https://github.com/tendermint/starport/blob/v0.19.3/actions/cli/Dockerfile

**To Reproduce**
Have the following in

[2022-02-11 15:38] RaulBernal opened #2081 "Module version by default is 2, should be 1."
**Describe the bug**
The source code that Starport produces set as default version "2" for custom modules, it should be 1

**To Reproduce**
Steps to reproduce the behavior:
1. Scaffold a new proyect
2. Add a custom type
3. Check the /x/module_name/module.go last lines you will see:
[code]

**Please provide the version output**
 - `starport version`: v.0.19.3

[2022-02-12 12:34] fadeev opened #2082 "`chain serve` error while going through the Hello, World tutorial"
Reported on Discord.

https://docs.starport.com/guide/hello.html#start-a-blockchain

![unknown](https://user-images.githubusercontent.com/332151/153711491-dfce255f-3f77-42fd-812d-e6fd2f5f2417.png)

[code]

Personally, I can't reproduce.

[2022-02-12 13:00] lgs commented on #2082
@fadeev, @lgsc0rd  that is just caused by mismatching and/or multiple environment variable for golang in your .profile or .bashrc setup.

Make sure $PATH contain the correct binary first on the left (or only once), because somtime Ubuntu ends up overlapping golang path, caused by the different way you can install it & upgrade it.

[2022-02-12 20:45] #2082 closed

[2022-02-13 19:25] barriebyron opened #2083 "oops published CLI docs mention Starport Network"
**Describe the bug**
oops published CLI docs mention Starport Network

I scheduled a Tweet about the account command with a link to the docs and didn't realize that our published CLI docs mention Starport Network.

is there a way we can omit mention of Starport Network in the current docs?

**To Reproduce**
Steps to reproduce the behavior:
1. Look at published docs, for example https://docs.starpo

[2022-02-14 09:37] RaulBernal opened #2084 "Authz module is not included by default"
**Describe the bug**
Authz module is not included by default
Keeper is not coded to handle Authz

**To Reproduce**
Steps to reproduce the behavior:
1. Scaffold a hello chain (example chain)
2. `hellod query` or `hellod tx`
3. You can see that Auth module is not present

**Please provide the version output**
 - `starport version`: v.0.19.3

[2022-02-14 13:39] ilgooz opened #2085 "cmd/network: add `--share` to `c publish`"
`chain publish ... --share 20%foo,50%staking,20%kavacoin`

See related [func](https://github.com/tendermint/spn/blob/4ca78a2/proto/campaign/tx.proto#L18).

Let's use cobra's string slice type for this so it can handle parsing multiple shares and also will make it possible to provide more than `--shares` flag for multiple denoms.

[2022-02-14 22:43] Pantani commented on #2069
@ilgooz, we already have the `network chain show accounts [launch-id]` command. This one shows the mainnet and vesting accounts. We can keep only this one as is or use a flag to filter the type of accounts

[2022-02-15 12:11] #1889 closed

[2022-02-15 12:15] ilgooz opened #2090 "fix linter issues"
https://github.com/tendermint/starport/runs/5199768069?check_suite_focus=true

[2022-02-15 12:19] ilgooz opened #2091 "network: stabilize HTTP tunneling"
The feature first implemented by https://github.com/tendermint/starport/pull/2055.

There is a connectivity problem with more than two nodes when Gitpod and VM nodes used together.

@ivanovpetr also reported that:

Let's ensure that:
- [x] We can run a network with 2 Gitpod and 2 VM instances.
- [x] We can run a network with 4 Gitpod instances.
- [x] We can run a network with 4 VM instances.
- [x]

[2022-02-15 15:30] #2090 closed

[2022-02-16 07:48] #1986 closed

[2022-02-16 09:30] Jack-Above commented on #1804
I was in this exact situation... non-verbose logging output made me search for a solution to the wrong problem

[2022-02-17 01:32] Pantani commented on #2085
Who is the address the coordinator will add these shares?? for itself?

[2022-02-17 09:48] ilgooz commented on #2085
My bad, I added the wrong func in the first message. We should update [total shares](https://github.com/tendermint/spn/blob/4ca78a2/proto/campaign/tx.proto#L16).

[2022-02-17 12:09] ilgooz opened #2098 "pkg/cosmosclient: use Any from tx response"
In this [line](https://github.com/tendermint/starport/blob/b81c51b/starport/pkg/cosmosclient/cosmosclient.go#L237), we had a hard coded "Response" suffix one the type url.

Now in the SDK, this information or the `prototypes.Any` itself should be a part of the Tx response. Investigate the introduced fix in the SDK starting from [this issue and comment](https://github.com/cosmos/cosmos-sdk/issues/1

[2022-02-17 17:47] #2091 closed

[2022-02-17 21:40] jhernandezb commented on #1960
This is a very bad bug, spent a couple of hours resolving it due to this line missing in the wiring.

[2022-02-18 09:04] ilgooz opened #2102 "network: cache app binaries"
When using the `network` commands, we fetch the source code (1) and build the binary (2) multiple times depending on what command you run.

Skip these two steps by caching appd binaries for only chains build through `starport network` commads (this does not include `starport chain` commands).

Log the launch id and binary's sha256 pair under `~/.starport/spn/binary-cache/list`. Where `list` is JSO

[2022-02-18 11:26] ilgooz opened #2103 "network: faucet should send more tokens"
Sometimes when running `network` commands, the command fails because there are no enough `uspn`. We should ask more tokens from the faucet to suppress this problem.

[2022-02-18 12:38] ilgooz commented on #2059
Done by https://github.com/tendermint/starport/releases/tag/v0.19.4.

[2022-02-18 12:38] #2059 closed

[2022-02-18 14:39] barriebyron commented on #2018
@ilgooz please ping me when this work is available to start

[2022-02-19 19:41] jhlq opened #2108 "Potential error in ConsensusVersion template"
https://github.com/tendermint/starport/blob/75b6421ed6d680789b784090a8d53c82774fc764/starport/templates/module/create/stargate/x/%7B%7BmoduleName%7D%7D/module.go.plush#L168

The Cosmos docs says the initial ConsensusVersion() must be set to 1: https://docs.cosmos.network/master/building-modules/upgrade.html

Here it is set to 2, I asked about this in the Starport discord and Denis Fadeev said it m

[2022-02-21 13:40] Pantani opened #2110 "cmd/network: implement `campaign create` command"
`network campaign create...`

[2022-02-21 13:41] lubtd commented on #2072
As discussed we can have a simplified workflow with directly mentioning the campaign ID in `mainnet flag`
[code]

I would suggest to not have the ability to publish a mainnet without a mainnet (we could provide in the future a `campaign publish` command if the user wants a campaign without testnets)

[2022-02-21 19:44] fadeev opened #2111 "docs: fix a URL"
Fix a link on https://docs.starport.com/kb/genesis.html

This URL is broken and should be replaced.

https://docs.tendermint.com/master/tendermint-core/using-tendermint.html#genesis

[2022-02-22 08:56] fadeev opened #2113 "TypeScript code generation error when scaffolding a chain"
![unknown](https://user-images.githubusercontent.com/332151/155097327-433f3c2d-9a21-4fdf-97d2-127ba3927ed0.png)

[2022-02-22 15:26] #2064 closed

[2022-02-22 18:27] jhlq opened #2115 "Is the app.go configurator discarded in error?"
https://github.com/tendermint/starport/blob/a8409909345459103872c5070bd23ce552c82429/starport/templates/app/stargate/app/app.go.plush#L427

This line creates a new configurator that isn't stored anywhere.

The Cosmos docs says to create another new configurator when registering upgrade handlers: https://docs.cosmos.network/master/core/upgrade.html#running-migrations (note there is a typo here wher

[2022-02-22 18:57] barriebyron commented on #2111
@fadeev thanks for noticing. Did a Linter pick up this broken link? (if so, how can I learn to watch?)
fixed in https://github.com/tendermint/starport/pull/2114

[2022-02-23 07:31] fadeev commented on #2111
Someone mentioned it on Discord.

[2022-02-23 12:05] #2111 closed

[2022-02-23 13:45] #2067 closed

[2022-02-23 13:45] #2068 closed

[2022-02-23 16:23] barriebyron opened #2116 "update Starport Discord invite URL to discord.gg/ignt in all repos"
**Describe the bug**
now that we've changed the invite URL for the Starport Discord server from
https://discord.gg/starport
to
https://discord.gg/ignt

we need to change all of the broken invite URLs throughout the website, docs, and page footers

**To Reproduce**
https://github.com/search?q=discord.gg%2Fstarport&type=code

- [tendermint/starport](https://github.com/tendermint/starport)
- [allinbi

[2022-02-23 23:25] ilgooz opened #2118 "cmd/network: mv `chain reward` to `reward`"
What do you think, it's confusing to have it under the `chain` namespace because it's mostly about `launch`.

cc @lubtd @Pantani

[2022-02-24 01:15] kth-tw opened #2119 "`starport chain serve` do not build binary"
**Describe the bug**
According to the [document](https://docs.starport.com/guide/hello.html#start-a-blockchain), starport should generate a binary `hellod` after running `starport chain serve`. But it doesn't create that.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a hello project.
2. run `starport chain serve`
![image](https://user-images.githubusercontent.com/88102592/155438185-

[2022-02-24 09:41] lubtd commented on #2118
Yes, I agree we can have directly `network reward` if this command has subcommands related to reward, the same as `network request`

For the `because it's mostly about launch.` reason, I didn't clearly get it, every command we have in `network` are related to launch

[2022-02-24 09:51] ilgooz commented on #2118
Of course they are related but chain command is for launching the chain collaboratively, pretty different comparing to other commands/functionality.

[2022-02-24 21:24] #2116 closed

[2022-02-25 04:01] Pantani commented on #2118
make total sense for me, easier to use and less confusing

[2022-02-25 13:03] aljo242 opened #2124 "Scaffold non-determinism simulation alongside existing sim"
PR #[565](https://github.com/tendermint/spn/pull/565) on `spn` adds a new `test-sim-nondeterminism` target for the application.  Sims like this that check the app state hash against different runs using the same random seed seem like something important that `starport` could provide for users.

A new function [TestAppStateDeterminisim()](https://github.com/cosmos/cosmos-sdk/blob/c686634819861fdc07

[2022-02-28 00:36] danmurphy1217 opened #2127 "👋 make it easier to update `messages`?"
I was putting together a presentation last week (https://github.com/danmurphy1217/brexchain) and ran into a situation where I had defined a message but forgot to include a specific field. I was not sure if there was an `update` command or a simple way of updating that message definition across all files, so I ended up re-building the project from scratch.

Did I overlook a simpler solution? Or is

[2022-02-28 07:52] DiscreteLogarithm opened #2128 "Possible bug in starport/pkg/cosmosclient/cosmosclient.go relating to address prefix"
**Describe the bug**
There's a `WithAddressPrefix` option in cosmos client which allows the setting of an address prefix. This prefix is stored in client and applied in `BroadcastTxWithProvision` with the following code:
[code]
The problem is in the process of creation of client object, an `AccountRegistry` object is created (in `New` function) which contains a keyring which is initialized with th

[2022-02-28 10:12] fadeev commented on #2127
Thanks for the suggestion, @danmurphy1217! 👍

Scaffolding/updating a message is a bit more involved than changing a proto file, many Go files are also modified, so updating may also inadvertently change users' manually written code. An alternative would be to commit changes before you scaffold code, so that you can just checkout a previous version and revert changes. Making regular commits is a go

[2022-02-28 10:14] fadeev opened #2129 "docs: remove section about installing Starport CLI with Homebrew"
https://docs.starport.com/guide/install.html#installing-starport-on-macos-with-homebrew

I propose we leave `curl | bash` as _the_ recommended way to install the CLI. Homebrew brings no advantages: it's harder to install another version and is not cross-platform.

[2022-03-01 08:19] ilgooz opened #2130 "bring ARM support"
Starport CLI should be able to run on ARM x64 Linux/Darwin platforms.

CLI is written in Go, compiling it to these platforms is pretty straightforward by using the `go build` tool.

But CLI has:
* [pkg/nodetime](https://github.com/tendermint/starport/tree/develop/starport/pkg/nodetime)
* [pkg/protoc](https://github.com/tendermint/starport/tree/develop/starport/pkg/protoc)
* [pkg/protoc-gen-dart](h

[2022-03-01 08:20] #1767 closed

[2022-03-01 08:21] ilgooz commented on #873
Closing in favor of https://github.com/tendermint/starport/issues/2130.

[2022-03-01 08:21] #873 closed

[2022-03-01 08:31] ilgooz opened #2131 "scaffolding: add `authz` module by default"
[Learn more about the bounty on Ignite's Discord](https://discord.com/channels/893126937067802685/946155736289910894/953254573638823967).

When running `ignite scaffold chain` command, a basic blockchain app with some defaults modules is scaffold.

Do the wiring for [authz](https://github.com/cosmos/cosmos-sdk/tree/master/x/authz) module so it can be included in the scaffold app.

Related packages

[2022-03-01 08:31] ilgooz commented on #2084
Thanks for reporting, closing this in favor of https://github.com/tendermint/starport/issues/2131.

[2022-03-01 08:31] #2084 closed

[2022-03-02 08:35] #2103 closed

[2022-03-02 11:52] bjaanes commented on #1666
I just wanted to chime in on this since I just encountered this myself. This seems like an unnecessary speed bump for new people when trying to send their first transaction.

I might be inclined to help out with this issue as it seems fairly straightforward, but I think there is need for some clarity on the correct behavior before I dive into this.

As @wilwade mentioned in the issue there is a mi

[2022-03-02 15:18] ilgooz opened #2136 "pkg/events: increase unit testing coverage"
Add unit tests for the [pkg/events](https://github.com/tendermint/starport/blob/develop/starport/pkg/events) package.

[2022-03-02 16:38] #2129 closed

[2022-03-03 11:52] ilgooz commented on #835
@bjaanes you have been assigned to this issue. Thank you for your bounty participation, we're very excited to see your solution! 😃

Please do not hesitate to start a conversation from here to discuss details.  🙏

[2022-03-03 12:29] bjaanes commented on #835
@ilgooz Excellent! I am excited as well :)

I confirm I'll take this on.

[2022-03-03 12:55] ilgooz opened #2137 "cmd/campaign: rm unused flags"
* https://github.com/tendermint/starport/pull/2089#pullrequestreview-892285125

* https://github.com/tendermint/starport/pull/2089#pullrequestreview-892285234

[2022-03-03 19:38] barriebyron commented on #835
@bjaanes  Congratulations on being our first bounty hunter! https://twitter.com/StarportHQ/status/1499468511265140736?s=20&t=E5yD0TsNz0pZ1MeWDkLz9g

[2022-03-04 12:48] ilgooz commented on #2136
@xy3 you have been assigned to this issue. Thank you for your bounty participation, we're very excited to see your solution! 😃

Please do not hesitate to start a conversation from here to discuss details. 🙏

[2022-03-04 13:58] ilgooz commented on #2136
Yes. 👍

[2022-03-05 00:19] bjaanes commented on #835
Alright, so I've had some time to dig into this and understand the code, and I have a few questions to clarify some things.

The challenge here seems to be able to identify if a given proto folder is connected to an SDK or app module. This seems non-trivial to determine, especially given the nature of how for instance [cosmos/tx/v1beta1](https://github.com/cosmos/cosmos-sdk/tree/master/proto/cosmo

[2022-03-07 15:25] #2136 closed

[2022-03-08 01:45] kth-tw commented on #2119
Yes, It is in `$GOPATH/bin`. Thanks

[2022-03-08 01:45] #2119 closed

[2022-03-08 15:03] ilgooz commented on #835
Yes, I believe the solution should be agnostic. It shouldn't have a special logic to only recognize Cosmos SDK modules, or chain's own modules. The logic should be able to identify all including the third party ones added through the go.mod of the chain.

I think this could be the way if there are no other, simpler option. Just for your notice we have packages for code analysis, we can reuse the f

[2022-03-08 15:35] bjaanes commented on #835
@ilgooz Thanks for the response. That makes sense to me. I haven't been able to find any simple ways to determine if a proto file or the generated go-files of protofiles to be a proper SDK module outside of actually going to the app.go file to find them defined there. I was looking for any documentation on what really defines a chain module (SDK, 3rd party or internal). With for instance the cosmo

[2022-03-09 06:42] ilgooz commented on #2098
Hey again @xy3! You have been assigned to this issue. 👌  Thank you for your bounty participation, we're very excited to see your solution!

If you read the whole thread, the [issue](https://github.com/cosmos/cosmos-sdk/issues/) on cosmos/cosmos-sdk actually tells more about what's going on.

Basically, we have `Response.Decode()` func in cosmosclient that decodes the response of an RPC that you ex

[2022-03-09 06:45] ilgooz commented on #835
That makes total sense!

[2022-03-09 11:55] xy3 commented on #2098
Thanks @ilgooz! If I understand correctly, we want to replace `txMsgData.Data[0]` with `txMsgData.MsgResponses[0]` and use the type url from there?

I have some questions if that is correct:
- Does the cosmos-sdk dependency need to be updated? [Here](https://github.com/cosmos/cosmos-sdk/blob/master/types/abci.pb.go#L481-L482) it specifies that it is introduced in 0.46.0, but I see that 0.46.0 is s

[2022-03-09 16:38] #1895 closed

[2022-03-09 16:47] ilgooz commented on #2098
I haven't checked how the SDK APIs are changed but we should also be investigating this. Not sure but I remember reading that the new version of SDK doesn't require you to deal with type urls and the RPC response added to the response itself.

If it's added in 0.46.0, I think we should upgrade Starport's go.mod to use that version and do the other changes needed. But since it's in alpha, we can ke

[2022-03-09 16:49] ilgooz commented on #2098
By the way, if you have time can you please add an integration test for this inside `integration/cosmosclient`?

But this not required since this wasn't a part of the original bounty. 👍

[2022-03-10 13:31] #2070 closed

[2022-03-10 13:31] #2085 closed

[2022-03-10 17:12] xy3 commented on #2098
@ilgooz I am unable to run the unit tests (or compile) due to these errors:

on 0.46.0-alpha1:

[code]

on 0.46.0-alpha2:

[code]

on 0.46.0-alpha3:
[code]

I am unsure as to how I can get around this to start testing? I have made the necessary changes to the repo but cannot verify they are working currently.

[2022-03-10 18:36] #2072 closed

[2022-03-10 18:36] #2110 closed

[2022-03-11 09:38] fadeev opened #2150 "docs(scavenge): scavenge creator is set as the scavenger breaking the reveal"
Feedback from @ivanovpetr :

Feedback from jierenchen:

I believe removing the following line should fix the problem:

https://github.com/tendermint/starport/blob/59dde11e68765efb7fbcfaa86851eed63291b747/docs/guide/scavenge/07-keeper.md?plain=1#L35

[2022-03-11 09:47] fadeev opened #2151 "docs(loan): a custom error uses a reserved code 1"
An error is registered with internally reserved code 1.

https://github.com/tendermint/starport/blob/59dde11e68765efb7fbcfaa86851eed63291b747/docs/guide/loan.md?plain=1#L405

Source: [Cosmos SDK docs](https://docs.cosmos.network/master/building-modules/errors.html#:~:text=Must%20be%20greater%20than%20one%2C%20as%20a%20code%20value%20of%20one%20is%20reserved%20for%20internal%20errors)

Remove the f

[2022-03-11 10:17] #2076 closed

[2022-03-11 10:17] #2077 closed

[2022-03-11 10:17] #2118 closed

[2022-03-11 11:28] ilgooz commented on #2098
Hm, I haven't tried to upgrade to this version of SDK before so I don't have a solution to share right now.

Would you like to further investigate on this? Otherwise we can just pause this issue and continue later when when v0.46.0 is released and Starport updated with this version.

[2022-03-11 14:27] xy3 commented on #2098
Hey @ilgooz I'll investigate this a bit further but if it is not possible at the moment I'll still take it on again when 0.46.0 is released.

[2022-03-11 19:59] bjaanes commented on #2130
@ilgooz I've been doing some experimentation on this one as I was considering to apply for the bounty on it. I've got a good overview of the work, but there is one show-stopper right now, which is the protoc-gen-dart. Nodetime was possible to cross-compile with some libraries installed on Linux, but dart does not have this capability for their executable files (https://dart.dev/tools/dart-compile#

[2022-03-14 02:51] beeust opened #2152 "Update chainID"
How to update chainID from `hello`?

[2022-03-15 05:07] beeust commented on #2152
https://docs.starport.com/kb/genesis.html

[2022-03-15 05:07] #2152 closed

[2022-03-15 10:41] #2137 closed

[2022-03-15 10:43] #2150 closed

[2022-03-15 11:17] ilgooz opened #2156 "feat: upgrade Cosmos SDK version to `v0.46.0`"
[Learn more about the bounty on Ignite's Discord](https://discord.com/channels/893126937067802685/946155736289910894/953254573638823967).

CLI is now on `v0.45.1`. Make sure to read CHANGELOGs of `cosmos/cosmos-sdk` from this version to `v0.46.0-beta` to learn more and avoid errors during your upgrade process.

* Upgrade CLI's Cosmos SDK dependency to `v0.46.0-beta `. See CLI's `go.mod`.
* Upgrade

[2022-03-16 10:41] bjaanes commented on #2130
Another question: is it desirable to update more libraries (in the gen-nodetime package.json) at the same time here? There is also a new LTS version of node (currently used 14, LTS now 16).

I also have a question to understand a bit more context: As part of codegen we also run typescript compilation (tsc from nodetime), but I am a little confused why this is part of codegen as it seems to me to b

[2022-03-16 14:13] ilgooz commented on #2130
This is a so valuable investigation! I really appreciate that.

About building the Dart plugin for ARM; would it solve if we create a Github Runner from an ARM machine? Do we need a Linux ARM or a Mac ARM or both?

We can create machines and add to Starport repo as Github Runners. And we can create the some more machines and share the SSH keys with you for your CI testing purposes.

Please let me

[2022-03-16 14:37] ilgooz commented on #2130
@bjaanes you have been assigned to this issue. Thank you for your bounty participation!

[2022-03-16 14:40] #835 closed

[2022-03-16 15:10] bjaanes commented on #2130
Great! I am all over this (i.e. I confirm my participation).

I am finishing up some testing with the hosted GitHub Runners and qemu emulation now to see how far I'll get with those for building the arm binaries without any self-run ones. It is likely not to be excellent for native arm64 for OSX. I have some thoughts on that too, but
I'll get back to you with comments, questions and my recommendat

[2022-03-16 15:28] ilgooz commented on #2130
Gjermund, that's perfect!

I requested two Mac M1s just in case, to be attached to this repo as a GH runner and one for your testing purposes. They expected to be ready within 48hours.

[2022-03-16 17:22] WesJourdan opened #2162 "docs(scavenge): convert message creator address from null `scavenge.Scavenger` breaks submit scavenge"
A bug was introduced with [here](https://github.com/tendermint/starport/pull/1645/files#diff-f84453497e0d775d4dc76d7a3212bea7936977dba84205608c7031e1f3521f60L47-R47) with PR #1645 and then fixed [here](https://github.com/tendermint/starport/pull/2153/files) with PR #2153, but there remains a related bug.

Now that the created scavenge looks like this:
https://github.com/tendermint/starport/blob/1e

[2022-03-17 01:29] njmurarka opened #2167 "Error when scaffolding a message, from the Starport Walkthrough's IBC tutorial"
**Describe the bug**
I was following the following section of the Walkthrough: https://docs.starport.com/guide/interchange/03-walkthrough.html

I got an error when I try to scaffold the first message. I was doing this on an existing chain we are building, not the "from-scratch" chain that is scaffolded as part of the tutorial. So technically, we are not following the tutorial as is. If we do, the

[2022-03-17 01:53] noahNewton opened #2168 "Nameservice code not working for Keepers section"
**Describe the bug**
I copy and paste the code in the developer documentation (here:https://docs.starport.network/guide/nameservice/04-keeper.html#set-name), the "Buy Name" code works, but for "Set Name" and "Delete Name" code I get this error when I try to start up the chain:
🛠️  Building proto...
📦 Installing dependencies...
🛠️  Building the blockchain...
cannot build app:

	error while running

[2022-03-17 05:15] fadeev opened #2170 "docs(blog): blog tutorial needs improvement"
### Discussed in https://github.com/tendermint/starport/discussions/2169

<div type='discussions-op-text'>

<sup>Originally posted by **lodotek** March 17, 2022</sup>
This is implying that the `proto.go` file is NOT empty:
https://github.com/tendermint/starport/blob/c3066575d2fe4bfd31e630ac18a91150ea390418/docs/guide/blog/index.md?plain=1#L189

But on [line 190](https://github.com/tendermint/starp

[2022-03-17 05:59] lodotek commented on #2167
I'd like to take a look at this issue, can you please share your repo with me?

[2022-03-17 08:07] sajshuai opened #2171 "protoc-gen-gocosmos: program not found or is not executable"
**Describe the bug**
  error while running command /tmp/protoc194239331: mars/query.proto:6:1: warning: Import cosmos/base/query/v1beta1/pagination.proto is unused.
  protoc-gen-gocosmos: program not found or is not executable
  Please specify a program using absolute path or make sure the program is available in your PATH system variable
  --gocosmos_out: protoc-gen-gocosmos: Plugin failed with s

[2022-03-17 08:47] fadeev commented on #2171
We had a similar issue a while back: https://github.com/tendermint/starport/issues/1584

Can you, please, provide the output of `echo $PATH`.

[2022-03-17 10:53] sajshuai commented on #2171
export GOROOT=/usr/local/go
export GOPATH=/data/scripts/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
------------------------------------------------------------------------------
I had add gopath to PATH,but $GOPATH/bin is empty .
#1584 is  changing ubuntu 18.04 to ubuntu 20.04,but my system already is ubuntu 20.04

[2022-03-17 11:10] bjaanes commented on #2130
I think that is a good idea, using qemu for this is likely to require some hacky OSX images with a bit "shady" licencing.

It looks like it works to build the arm binaries for linux with qemu, but it is a bit slow (7+ minutes). Having separate runners for linux arm64 would also simplify the github tasks a bit to run in a matrix (which is not really great right now).

Great, that should work. I am

[2022-03-17 15:02] dave commented on #2171
I'm having the same problem... It looks like protoc-gen-gocosmos [is installed here](https://github.com/tendermint/starport/blob/2410afd818a14cdf988dd3a419af01bb754ea872/starport/pkg/cosmosgen/install.go#L24-L27)... I think you need to run `go install`, not `go get` to install binaries nowadays... however it looks like protoc-gen-gocosmos uses a replace directive in the `go.mod` which is incompati

[2022-03-17 15:04] dave commented on #2171
[Background reading here](https://github.com/golang/go/issues/44840#issuecomment-792789581)...

[2022-03-17 15:43] sajshuai commented on #2171
I find the "protoc-gen-gocosmos" package in GOPATH/pkg/mod/github.com/regen-network/cosmos-proto@v0.3.1
and run "go install ./protoc-gen-gocosmos".
It's ok now .
thanks @dave

[2022-03-17 15:44] dave commented on #2171
I don't think this should be closed... there is definitely a bug in starport code...

[2022-03-17 18:52] dave commented on #2171
I'm pretty sure this is not the case for later versions of Go... I'm using Go 1.18 and it definitely doesn't work like that. The installer just runs `go get github.com/regen-network/cosmos-proto/protoc-gen-gocosmos` in the module directory. This does not install the binary. Earlier versions of Go would have installed the binary with this command.

[2022-03-17 19:05] dave commented on #2171
Consider these commands:

[code]

[1, 2, 3] Creates a new go module and initialises.
[4] Shows the contents of go.mod (empty)
[5] Shows that protoc-gen-gocosmos does not exist in the path
[6] Runs go get
[7] Shows that protoc-gen-gocosmos still does not exist in the path
[8] Shows the contents of go.mod, which has been updated by `go get` as if protoc-gen-gocosmos was a library we're importing in

[2022-03-17 19:10] dave commented on #2171
Newer versions of Go have changed the behaviour of `go get` and `go install`...

I believe for installing tools this is not what we want... Instead of running `go get` / `go install` in the module directory, we want to run `go install` outside of the module directory. This should install the binary without polluting `go.mod` with references to the tooling Go packages...

However, running `go insta

[2022-03-17 19:28] bjaanes commented on #2130
I can test if the output from the mac will run on linux as well, but they might require different machines, at least for the dart compilation.

For the vercel/pkg compilation it actually works on linux (I've tested in on a cloud-based M1), but it requires some slightly hacky setup to be able to sign the binary. So better to run that on the mac anyway.

Nice, that is excellent! Will look more into

[2022-03-17 20:12] ilgooz commented on #2130
I think arm64 would be enough for now?

[2022-03-18 02:18] sajshuai commented on #2171
I may be found the problem.I'm not logged in as root, and golang is install in /usr/local/bin.
However,"rotoc-gen-go protoc-gen-gocosmos protoc-gen-grpc-gateway protoc-gen-openapiv2 protoc-gen-swagger" are all installed in "/root/go/bin".
My root user does not have golang env.
I don't know why they installed in /root/go/bin.
when #1584  changing ubuntu 18.04 to ubuntu 20.04,he may logged in as roo

[2022-03-18 11:29] ilgooz opened #2176 "network: cannot publish"
[code]

[2022-03-18 13:23] joshuacheong commented on #2171
I face the same issues, I believe the issue is traced to the following deprecation of "go get" from Go 1.18, go get will no longer build packages:
https://go.dev/doc/go-get-install-deprecation#:~:text=Starting%20in%20Go%201.17%2C%20installing,the%20%2Dd%20flag%20were%20enabled.

I will retry by uninstalling Go 1.18 and installing Go 1.17 instead.

[2022-03-18 14:55] bjaanes commented on #2130
Sounds good.

Just FYI: There is a chance I might get somewhat delayed on this (relative to the 10 day deadline) because I got Covid and I am not very productive right now. I'll keep you posted, and also let me know when the M1 become available so I can do some testing with that.

[2022-03-18 15:15] ilgooz commented on #2130
Sorry to hear that, get well. 🙏

No worries about the deadline.

[2022-03-18 16:51] #2066 closed

[2022-03-18 17:27] #2102 closed

[2022-03-18 19:10] Pantani commented on #2176
I can't reproduce here. What's the branch you are using?

<img width="1018" alt="Screen Shot 2022-03-18 at 16 10 12" src="https://user-images.githubusercontent.com/2406457/159068946-90a50742-69ea-4959-b5f8-903f5f593283.png">

[2022-03-18 19:13] Pantani commented on #2176
I found the reason,  you don't have the default account, and you didn't pass the `from` flag. I will improve the error message.

[2022-03-18 19:44] #2171 closed

[2022-03-18 19:48] ilgooz commented on #2171
Thank you all of you for raising this up and thanks @dave for the PR!

The fix has been merged to develop and it'll we be released soon with a point release ([v0.19.5)](https://github.com/tendermint/starport/pull/2158). Meanwhile, if you don't want to wait, you can install Starport CLI Nightly from [here](https://github.com/tendermint/starport/releases/tag/nightly).

Be aware that Nightly version

[2022-03-18 19:49] ilgooz commented on #2176
It was the develop branch 😕

[2022-03-18 19:57] #2176 closed

[2022-03-18 20:10] ilgooz opened #2180 "network: fix binary cache"
I `publish`ed a chain and then ran the `init` command. The time I ran the init cmd, it built the binary again. I ran init cmd several times and everytime it was building from scratch.

Meanwhile, I observed that hash in the checksum file chanced each time I run the init cmd although source hasn't changed.

[code]

[code]

[2022-03-18 20:13] ilgooz commented on #2167
@alijnmerchant21

[2022-03-18 21:16] njmurarka commented on #2167
For sure. You can goto:

https://github.com/bluzelle/bluzelle-public

The project is in the curium folder.

[2022-03-19 00:12] njmurarka opened #2181 "Cannot build app error when doing "starport chain serve""
**Describe the bug**
I am on a Mac M1 Max machine.

Trying to run the chain in the https://github.com/bluzelle/bluzelle-public/curium folder.

I get the following:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. Goto curium folder
3. Run: starport chain serve

**Please provide the version output**
 - `starport version`:
`
starport version
Starport version:	v0.19.4
Starp

[2022-03-19 07:02] moshebeeri opened #2183 "protoc-gen-gocosmos: program not found or is not executable"
**Describe the bug**
Calling
[code]
Getting:

[code]
The error occurred on both mac and ubuntu 20.04 aws instance

**To Reproduce**
Steps to reproduce the behavior:
1. Create new ubuntu instance
2. install go
3. install starport
4. run starport scaffold chain github.com/cosmonaut/hello

**Please provide the version output**
 - `starport version`: latest

[2022-03-19 07:46] ilgooz commented on #2183
Hey! The fix has been merged to develop and it'll we be released soon with a point release ([v0.19.5)](https://github.com/tendermint/starport/pull/2158). Meanwhile, if you don't want to wait, you can install Starport CLI Nightly from [here](https://github.com/tendermint/starport/releases/tag/nightly).

Be aware that Nightly version is built from develop and it may contain features that may not be

[2022-03-19 07:46] #2183 closed

[2022-03-19 10:42] ilgooz commented on #2171
For those who were experiencing `protoc-gen-gocosmos` problem, please install the new release v0.19.5: https://github.com/tendermint/starport/releases/tag/v0.19.5

See how to upgrade: https://docs.starport.network/guide/install.html#upgrading-your-starport-installation

[2022-03-19 10:42] ilgooz commented on #2183
For those who were experiencing `protoc-gen-gocosmos` problem, please install the new release v0.19.5: https://github.com/tendermint/starport/releases/tag/v0.19.5

See how to upgrade: https://docs.starport.network/guide/install.html#upgrading-your-starport-installation

[2022-03-19 10:43] ilgooz commented on #2181
This might be fixed in v0.19.5, can you please upgrade and let us know if it did work?

See how to upgrade: https://docs.starport.network/guide/install.html#upgrading-your-starport-installation

[2022-03-19 11:11] ilgooz commented on #2181
Please free feel to reopen if your problem still persist after upgrading.

[2022-03-19 11:11] #2181 closed

[2022-03-19 16:24] OldaProjects opened #2186 "starport relayer : broadcasting acks"
Hello,

I tried to configure the relayer to connect:

+ earth chain to mars chain

sudo starport relayer configure -a --source-rpc "http://0.0.0.0:26657" --source-faucet "http://0.0.0.0:4500" --source-port "delegation" --source-version "delegation-1" --source-gasprice "0.0000025stake" --source-prefix "cosmos" --source-gaslimit 300000 --target-rpc "http://0.0.0.0:26659" --target-faucet "http://0.0.

[2022-03-20 11:11] lxgr-linux opened #2187 "Starport v0.19.5 breaks compatibility with go v1.18"
**Describe the bug**
Starport v0.19.5 breaks compatibility with go v1.18.
`starport chain serve` now complains about generics syntax added in go v1.18.
This didn't happen on v0.19.4.
The error occurs at the `building proto` step:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use generics in your code.
2. Set go version in go.mod to 1.18
3. Run `starport chain serve`
4. See error
5.

[2022-03-21 12:11] #2180 closed

[2022-03-21 13:08] ilgooz opened #2190 "network: `not found` error"
[code]

Can we check all network commands to see we fully fix this problem?

[2022-03-21 15:00] #2190 closed

[2022-03-21 16:11] ilgooz commented on #2062
Can we also query the Node API to see if there are actually 2 validators?

[2022-03-22 13:54] ilgooz opened #2194 "network: support ledger"
through `starport account`.

The sign gentx and get account name

[2022-03-22 13:57] ilgooz opened #2195 "network: support customizations through `config.yml`"
`publish` command by default could look at `config.yml` or `config.netwok.yml` or they can skip using it. File name should be kept on chain in SPN.

This is useful for setting params and other info, maybe airdrop accounts too?

Make _config.yml>genesis_ more resilient. CLI should make verbose checks about what's being modified here. Do not allow setting non existing fields/modules etc. Check the f

[2022-03-22 13:59] ilgooz opened #2196 "network: `c join` cmd should not require `[amount]`"
Amount can be turned into a flag and when it's not set, we shouldn't send the add account request.

When `--amount` isn't used, warn and ask confirmation formation from the user.

Implement a `-y` flag to automatically confirm for non interactive mode.

[2022-03-22 14:21] ilgooz opened #2197 "network: support custom genesis from tarballs"
We right now support:
[code]

Also support:
[code]

Automatically detect if it's a JSON or a tar.gz. We can do this by checking the file extension, if the extension is not any of these, we can quit with an error.

[2022-03-22 20:13] barriebyron commented on #2156
See bounty program details in the #-bounty channel in Starport Discord [discord.gg/ignt](discord.gg/ignt)

[2022-03-22 20:33] moshebeeri commented on #2183
Thanks, I can confirm that it works!!

[2022-03-22 22:25] faddat commented on #2156
hi, I did this quite some time ago and it was working ok without any problems and it went unreviewed for a very long time.

[2022-03-23 11:35] ilgooz opened #2199 "network: investigate if noCheck in use or remove it"

[2022-03-23 11:41] ilgooz opened #2200 "network: fix order when listing chains"

[2022-03-23 12:02] ilgooz opened #2201 "network: `request approve` returns error"
starport network request approve 36 3,4 --nightly
✔ Source code fetched
✔ Blockchain set up
✔ Requests format verified
✔ Blockchain build complete
request(s) not valid: open /tmp/247635489/config/genesis.json: no such file or directory

[2022-03-23 12:06] ilgooz opened #2202 "network: `prepare` should write the chain-id to final genesis"

[2022-03-23 12:35] ilgooz opened #2204 "network: `genesis show` shouldn't print unrelated messages"
Because it maybe dumped to a file

[2022-03-23 13:58] aljo242 opened #2205 "Comments on scaffolded `x/module-name/module.go` generated incorrectly"
**Describe the bug**

All comments on scaffolded `x/module-name/module.go` file refer to the module as `capability`.  This can be seen [here](https://github.com/tendermint/spn/blob/f5fa84f1fdbe4ef3c6c54972f8c3aef456b841cd/x/profile/module.go#L100) in SPN.  It is present in all of the scaffolded modules for our project.  I can also recreate this with a  new chain.

The word "capability" just needs

[2022-03-24 10:53] #2051 closed

[2022-03-24 11:24] ilgooz opened #2208 "refactor(network): use `os.MkdirTemp`"
Instead of `os.TempDir` variants.

E.g.: https://github.com/tendermint/starport/blob/ec6528c/starport/cmd/network_chain_show.go#L151

[2022-03-24 11:25] ilgooz opened #2209 "refactor(network): separate sub commands into files"
Here: https://github.com/tendermint/starport/blob/ec6528c/starport/cmd/network_chain_show.go

Also create XHandler funcs and use them instead.

[2022-03-24 11:28] ilgooz opened #2210 "refactor: try to io.Reader/io.Writer while dealing with Genesis"
modification or generation.

This affects the pkg/cosmosutil and maybe also other places. Let's find out all of them.

Also, create a single `cosmosutil.UpdateGenesis(path, options...)` to be able to update multiple fields inside genesis. And deprecate SetChainID, SetLaunchTime like funcs in favor of this new func.

These needed because genesis files can get big(100MB and more). Right now we are p

[2022-03-24 11:38] ilgooz opened #2211 "preserve modified config file's style"
In the code base we update JSON and TOML files (e.g. genesis, config.toml) to update certain fields inside.

After we update, comments and spacing inside files get lost. We need to prevent this.

Also let's use `pkg/confile` (either existing funcs or add more) to do these kind of modifications so we can have a single package to manage file updates.

[2022-03-24 11:59] #2202 closed

[2022-03-24 14:06] #2196 closed

[2022-03-24 14:06] #2204 closed

[2022-03-24 14:07] ilgooz commented on #2201
Not solved by #2212

[2022-03-24 14:35] ilgooz opened #2213 "create a `pkg/cliprint` package"
This packet should manage clispinner as well as printing something to the stdout(can be customized). This way it can stop the spinner before printing persistent text.

This will also fix this concurrency issue: Sometimes when you fmt.Println, it gets printed before the events are printed in the pipeline. cliprint, will do some sort of queue by using a channel to print events or fmt.Printlns (gener

[2022-03-24 15:35] ilgooz opened #2214 "network: refactor the Prepare func"
to only use Init, maybe with options to make it behave differently.

Because there are duplicated:
* https://github.com/tendermint/starport/blob/f9442e3/starport/services/network/networkchain/init.go#L26
* https://github.com/tendermint/starport/blob/55ca2d3/starport/services/network/networkchain/prepare.go#L54

And code followed by these lines.

[2022-03-24 16:07] #2201 closed

[2022-03-24 16:44] #2043 closed

[2022-03-24 17:45] ilgooz opened #2217 "network: fix tests"
https://github.com/tendermint/starport/runs/5680063784?check_suite_focus=true

[2022-03-25 08:18] #2217 closed

[2022-03-25 09:36] ilgooz opened #2219 "network: `request list` fix address prefix"
in account requests (it always uses spn prefix, we need to use chain's)

[2022-03-25 10:00] ilgooz opened #2220 "network: make ip address optional for `join`"
some validators might want to hide their public ip

[2022-03-25 10:01] ilgooz opened #2221 "network: coordinator can suggest default getnx configs"
like commission rate etc.

Then validators can be prompted to those default when they use `join` cmd

[2022-03-25 12:32] fadeev commented on #2221
This, and also a coordinator may set values in `config.yml` that will be automatically applied to `app.toml` and `config.toml`. Most likely a different issue.

[2022-03-25 14:39] Pantani commented on #2197
What happens if we have more than one JSON file inside the tarball? Do we only throw an error?

[2022-03-25 14:56] ilgooz commented on #2197
We can look for only `genesis.json` and return with an error if it's not there.

We can look for the genesis file starting from the root of the tarball and recursively search for it. We can use the first `genesis.json` we find.

If genesis is provided through tarball, we should print a log message(through events) to let user know which location we get the genesis file from inside tarball so they c

[2022-03-27 21:59] bjaanes commented on #2130
@ilgooz Back in action. I've set up the provided M1 machine as a runner and got it to build both amd64 and arm64 for darwin. The dart build unfortunately does not work on linux arm64. I think the only way to get that done is to also get a runner for Linux arm64/aarch64.

Just for documentation purposes: The GitHub runner software is not quite yet ready for M1 machines, but there are some workaroun

[2022-03-28 08:01] fadeev opened #2224 "network: use the nightly version by default (even without the `--nightly` flag)"
Right now it is necessary to use the `--nightly` flag to properly use the network. For the sake of validators' experience let's temporarily (for the next couple of months) make the CLI use the nightly version by default (even without the `--nightly` flag).

[2022-03-28 08:05] fadeev opened #2225 "network: add a command to install chain's binary from a launch ID"
[code]

Installs chain's binary.

[2022-03-28 12:08] Pantani opened #2226 "network: remove `total-shares` flags"
remove `total-shares` flags and everything related to dynamic shares

[2022-03-28 18:03] ntindle commented on #1674
How was this fixed? I'm also getting object not found in my CI pipeline on v.0.19.5

[2022-03-29 00:59] houshengbo opened #2229 "The error "this version of Cosmos SDK is no longer supported" came back"
**Describe the bug**
Follow the instruction here: https://tutorials.cosmos.network/academy/4-my-own-chain/starport.html
The terminal outputs "this version of Cosmos SDK is no longer supported" after running `starport chain serve`.

**To Reproduce**
Steps to reproduce the behavior:
1. curl https://get.starport.com/starport! | bash
2. starport scaffold chain github.com/alice/checkers
3. cd checkers

[2022-03-29 08:39] #2226 closed

[2022-03-29 08:53] #2224 closed

[2022-03-29 09:00] ilgooz commented on #2130
Super cool! We're preparing ARM Linux machines. 👍

[2022-03-29 11:17] #1998 closed

[2022-03-29 14:19] #2225 closed

[2022-03-29 16:40] ilgooz commented on #2221
This looks related https://github.com/tendermint/starport/issues/2195.

[2022-03-29 21:44] houshengbo opened #2234 "Should the field `creator` be created automatically running the commands: starport scaffold message, single, map, etc?"
**Describe the bug**
I am not sure what is expected behavior. Walking through the tutorial starting here: https://tutorials.cosmos.network/academy/4-my-own-chain/

There are a few commands to be run:
[code]
...

After that, I saw only the message createPost was created with the field `creator`, which is expected as described in the instruction, but not for the single nextGame and the map storedGam

[2022-03-29 21:49] #2229 closed

[2022-03-29 22:02] houshengbo commented on #2234
@ilgooz Do you know the answer?

[2022-03-30 15:01] houshengbo commented on #2234
With the flag `--no-message`, the field `creator` will not be created.
The field `Index` is automatically generated. No need to add it in the command.
With everything said, the commands should be
[code]
to generate the field `creator` for all commands.

[2022-03-30 16:39] barriebyron commented on #2234
@houshengbo welcome to the community

Ignite maintains the developer tutorials at https://docs.starport.com/guide/.
You can file an issue for the tutorial you mention in https://github.com/cosmos/sdk-tutorials/issues
I know we have so many resources for the ecosystem, here are the Starport links for devs https://linktr.ee/ignite_dev

Thanks for using Starport CLI!

[2022-03-30 23:31] houshengbo opened #2237 "Propose the structure changes regarding the circular dependency formed in the template go.mod.plush"
**Is your feature request related to a problem? Please describe.**
The project tendermint/starport and the template at starport/starport/templates/app/stargate form a circular dependency, which is not an ideal design.

On one hand, the template starport/starport/templates/app/stargate is part of the source code of tendermint/starport, so the project depends on the template. On the other hand, the

[2022-03-31 08:26] akure opened #2238 "Module parameter scaffolding to be supported for already existed modules"
**Is your feature request related to a problem? Please describe.**
 It is very good to have a command which helps in creating all the necessary files, methods, and registrations for creating a new param in a specific module. As of now, it is supported in the module scaffolding only. But when you are creating a new module, most often you don't know what could be the parameters, and types for the mo

[2022-03-31 09:15] ilgooz opened #2239 "network/publish: add `--shares`"
Use MintVouchers API.

```--share 20%foo,50%staking,20%kavacoin```

[2022-03-31 17:00] ntindle opened #2241 "Publish arm64 docker containers for the cli"
**Is your feature request related to a problem? Please describe.**
I use m1 and arm Linux. The current containers published [here](https://hub.docker.com/r/starport/cli/tags) are only amd64.

**Describe the solution you'd like**
I would like containers published with the platform arm64 published to docker hub alongside the amd64 images.

**Describe alternatives you've considered**
Buying new compu

[2022-03-31 17:41] mikedizon commented on #2241
have you tried running it in rosetta?

[2022-03-31 18:36] ntindle commented on #2241
Do you know how I would go about doing that? all my googling led me to install aarch64 docker desktop, which isn't compatible. Would love any guides you can find

[2022-03-31 19:45] ntindle commented on #2241
Okay, I ran it in rosetta (i think) and it's unbelievably slow?

[2022-03-31 19:49] bjaanes commented on #2241
@ntindle Rosetta can indeed be slow.

I'm currently adding general support for arm64 for the cli (#2130), and I am looking into if I am able to building the docker image as well for arm64 right now. If that works out we might be able to solve this issue when that is finalized.

FYI @ilgooz

[2022-04-01 09:38] ilgooz commented on #2241
LGTM!

[2022-04-01 15:50] oliverasistemas commented on #1247
I am getting the same error trying to run:
`interchanged tx ibcdex  send-createPair  channel-0 marscoin venuscoin`
from https://github.com/tendermint/interchange

[2022-04-01 16:09] akure opened #2245 "Adding support to create composite test keeper for any custom module in testutil directory"
**Is your feature request related to a problem? Please describe.**
The test Keeper that is generated in the testuntil  directory does not contain the cosmos-sdk composite keeper And there is no easy way to do so.  It pass the nil to the composite module keeper ( such as qbank keeper ) in the test keeper creation method.
Right now there is no clear way If someone needs to ass qbank keeper , staking

[2022-04-01 16:12] akure opened #2246 "ibc v3 support in starport"
**Is your feature request related to a problem? Please describe.**
 starport does not support ibc v3 in its current versions which makes it very difficult for related feature integration using starport.

**Describe the solution you'd like**
 starport should be upgraded to support ibc v3.

**Describe alternatives you've considered**
 Right now manual changes are the only way forward.

[2022-04-01 16:45] bjaanes commented on #2130
@ilgooz draft PR up now. There are some things to be sorted out (github runners and practical merge strategy)

[2022-04-01 16:51] bjaanes commented on #2241
@ntindle FYI, I've built and tested this on my own and managed to get it working properly on an M1 machine. Hopefully once #2130 is merged and released you should be able to use native arm64 docker images.

[2022-04-01 19:17] deep2chain commented on #2127
I also encountered a similar issue. What if I  have to modify some proto files which generated with ```starport scaffold```? Does starport support updates? I mean, regenerating *.pb.go files from modified proto files.

[2022-04-02 05:33] fadeev commented on #2127
@deep2chain yes, after you modify proto, run either starport c serve` or `starport g proto-go`.

[2022-04-03 09:05] perfecttennails commented on #540
i am having the same problem, what is causing this?

[2022-04-04 12:49] barriebyron commented on #1700
achieved with https://github.com/tendermint/starport/pull/1753

[2022-04-04 12:49] #1700 closed

[2022-04-04 14:09] barriebyron opened #2249 "update install docs for setting up Ignite on a new machine"
**Is your feature request related to a problem? Please describe.**
from convo on Slack when @fadeev got a new machine

https://allinbits.slack.com/archives/CQPGA4WE9/p1648967803479459

2 steps you might need to do before installing the binary:

- sudo mkdir /usr/local/bin — on new machines this directory doesn’t exist. Otherwise, a user will get “Error: output directory missing: /usr/local/bin”

-

[2022-04-05 13:50] fadeev opened #2251 "feat: starport version details"
Let's add info useful for debugging the web and mobile frontends.

* Node.js version (cc @marinhoarthur @JoseRFelix anything else?) — this is about the local version, not the one bundled with the CLI
* Dart/Flutter version (@zfinix anything else?)

[2022-04-05 13:57] fadeev commented on #2251
fwiw I was talking about the CLI command, not documentation.

[code]

[2022-04-05 14:12] barriebyron opened #2253 "docs(rebranding): replace Starport in commands and text throughout docs"
**Is your feature request related to a problem? Please describe.**

This issue is one piece of the larger rebrand from Starport to Ignite

**Describe the solution you'd like**

Redirects are planned so that all links to the current docs URL and website URL resolve to the new URL: for example, docs.starport.com will redirect to docs.ignite.com

    - [docs.ignite.com Documentation assets design req

[2022-04-05 16:53] ilgooz commented on #2253
Adding a note: while converting `Starport` name to `Ignite` we should probably check if we should use `Ignite` or `Ignite CLI` depending on where this change is being done.

[2022-04-05 16:54] ilgooz opened #2255 "rebrand to Ignite"
Adding a note: while converting `Starport` name to `Ignite` we should check if we should use `Ignite` or `Ignite CLI` depending on where this change is being done.

Please use `chore/branding` as your base branch.

- [ ] Bump ignite-hq/cli version in templates to v0.20.0 - @ilgooz
- [ ] Solve https://github.com/ignite-hq/cli/issues/2271  - @ignite-hq/growth-ecodev
- [x] Solve https://github.com/ig

[2022-04-05 19:39] ilgooz opened #2257 "Improve the build system for complex use"
Proposed design: https://gist.github.com/bruxisma/b130755f2b8586c2777fa2d197bed19d#file-build-md

Discord logs: https://discord.com/channels/893126937067802685/951888668455485500/951888682665771068

Related to https://github.com/tendermint/starport/issues/1312 and https://github.com/tendermint/starport/issues/2046.

cc @bruxisma

[2022-04-05 19:55] ilgooz commented on #443
Hey @alexanderbez, we're working a much sophisticated build system, it might be interesting for you, please watch for: https://github.com/tendermint/starport/issues/2257

[2022-04-06 10:40] ilgooz opened #2259 "feat(`pkg/cosmosaccount`): support in memory backend"
This will be useful for unit testing of `services/network`.

[2022-04-06 11:20] ilgooz opened #2260 "ensure genesis is deterministic between different versions of cli"
either keep the hash on chain during `launch`, version genesis generation algorithm or create a package that will read a genesis and return a deterministic genesis

[2022-04-06 11:50] lubtd commented on #2260
Versioning of the genesis generation algorithm implementation to use and specify it on `MsgTriggerLaunch` on the blockchain would be the ideal solution IMO

[2022-04-06 20:43] barriebyron commented on #2253
@ilgooz we'll follow this [technical content guidance](https://www.notion.so/allinbits/Technical-content-style-guidance-b896877847a547518d3dff33fac7366a#a597353a250d463b8218beb3896ad9cc):
- Ignite is the company.
- Ignite is the name of the Ignite blockchain that launches in August 2022. (Ignite is the product we internally refer to as launchpad.)
- Starport is now Ignite CLI.
- For product mentio

[2022-04-06 21:48] barriebyron commented on #2255
Hi @ilgooz yes, thanks for this branch knowledge.

I think this issue is a duplicate of https://github.com/tendermint/starport/issues/2253
where you'll see the replace strategy, I'll tag questions in the PR https://github.com/tendermint/starport/pull/2262

[2022-04-06 21:51] barriebyron commented on #2253
oops we mean related to https://github.com/tendermint/starport/issues/2255
(great minds think alike)

[2022-04-06 21:59] barriebyron commented on #2251
... so this issue does not require my attention then?

[2022-04-06 22:22] Zfinix commented on #2251
Ahh I see I  was about to ask for clarification 😂 on this

On Tue, 5 Apr 2022 at 2:57 PM, Denis Fadeev ***@***.***>
wrote:

--
Chiziaruhoma O.

[2022-04-07 14:47] barriebyron commented on #2249
keep the [migration](https://docs.starport.com/migration/) topics, everything will be changed to Ignite including migration.
The binary we install is `ignite`

[2022-04-08 08:51] ivanovpetr commented on #2208
What is an concrete problem with `os.TempDir`? We don't want to write anything to disk at all during show command?

[2022-04-08 17:01] #2259 closed

[2022-04-08 23:52] gventuri opened #2268 "Bad CPU type in executable: starport"
**Describe the bug**
Whenever I try to run a command from the starport CLI (i.e. `starport version`) on my Macbook (M1 processor), I get the following error: `bad CPU type in executable: starport`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install starport (`curl https://get.starport.network/starport | bash` + `sudo mv starport /usr/local/bin/`)
2. Run `starport version`

**Please prov

[2022-04-09 05:56] fadeev commented on #2268
Do commands other than `starport version` work?

[2022-04-09 07:10] gventuri commented on #2268
@fadeev no, actually it does it whatever command I try to run

[2022-04-09 09:54] gventuri commented on #2268
UPDATE: I figured out for some reason I didn't have Rosetta 2 installed, so I just had to run `/usr/sbin/softwareupdate --install-rosetta --agree-to-license` and it fixed my issue.

I found this article very useful to fix it: https://linuxpip.org/fix-bad-cpu-type-in-executable/

[2022-04-09 09:54] #2268 closed

[2022-04-09 18:30] ilgooz commented on #2268
Nice that this has been resolved. Soon we plan to introduce a native binary for M1.

[2022-04-10 07:43] ilgooz opened #2270 "tests/integration: overwrite `ignite/cli` version in `go.mod`"
of scaffold chains in the integration tests by adding a replace statement.

* On CI, overwrite it to: `github.com/ignite-hq/cli => /home/runner/work/cli/cli`
* On local machines, auto detect the location of CLI and use that.

This is useful to have latest changes in the CLI to be used in the scaffold app instead of letting the scaffold app using an older/tagged version of the CLI.

[2022-04-10 08:22] ilgooz opened #2271 "rebranding: solve points proposed by @soniasingla"
See: https://github.com/ignite-hq/cli/pull/2262#pullrequestreview-937180500

@soniasingla  is asking about instances of Starport in these files:
-  templates in .github folder https://github.com/ignite-hq/cli/tree/develop/.github.
-  readme.md file of gitpod folder https://github.com/ignite-hq/cli/tree/develop/.gitpod
- Readme file under CLI actions https://github.com/ignite-hq/cli/blob/develop/ac

[2022-04-10 09:02] ilgooz commented on #2255
@barriebyron we can use this issue as the main one, I added a TODO list in the first message so we can keep track of smaller issues related to rebranding.

[2022-04-10 09:12] ilgooz opened #2273 "release v0.20.0"
- [x] Test templates
- [x] Depends on https://github.com/ignite-hq/cli/issues/2255
- [x] Update changelog
- [x] Add migration guideline for new starport import
- [x] Add migration guideline for v0.45.2, also say binary name changed to `ignite`
- [x] Test nightly by running a tutorial - @alijnmerchant21

[2022-04-10 19:45] ilgooz opened #2281 "support non-Git URL app names"
Right now while scaffolding a chain you need provide a Git url as the app's name:

[code]

Golang allows you to create projects without requiring a Git url so, we should support simple names without a whole Git url too. So, the scaffold chain cmd should be able to work with these variants:

*
[code]

*
[code]

- [x] Make sure that we support all variants supported by `go mod init ...`.
- [x] Make

[2022-04-10 19:45] ilgooz commented on #1063
closing in favor of https://github.com/ignite-hq/cli/issues/2281

[2022-04-10 19:45] #1063 closed

[2022-04-11 07:02] ilgooz opened #2282 "cmd/network: bring `--nightly` back"
Make `--alpha` default, update endpoints for Alpha.

@helder-moreira what are the addresses of endpoints for SPN Alpha?

[2022-04-11 13:02] #2253 closed

[2022-04-11 13:02] #2255 closed

[2022-04-11 14:01] proksi21 opened #2285 "Discord link not working"
**Describe the bug**
Discord link in README is wrong or outdated

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Discord link in README

[2022-04-11 15:19] #2285 closed

[2022-04-11 16:47] lubtd opened #2289 "Implementing command for connecting monitoring modules"
**Is your feature request related to a problem? Please describe.**
Add a command to connect monitoring modules of launched chains with `spn`
Name considered
[code]

**Describe the solution you'd like**

The command takes the `launchID` of the launched chain and the URL of a node API of the launched chain

The following actions are performed
- choose a block height to fetch data on the launched blo

[2022-04-11 17:39] Talented-Developer opened #2291 "How to use CLI Query?"
Hello
I am new to Ignite and Cosmos SDK, and I am just following ignite tutorial document.
I found one uncertainty while reading document [](https://docs.starport.com/guide/hello.html#register-query-handlers)
After making queries, call it in browser or through http request, it is working but cmd query is not working, just leaves following error.

[code]

Hope is there anybody how to solve this iss

[2022-04-11 18:21] fadeev commented on #2291
`hellod` binary is installed by default in `~/go/bin`. If your shell can't find the binary, it's because GOPATH isn't in your `$PATH`. Please, refer to https://go.dev/doc/gopath_code#GOPATH

[2022-04-12 02:56] zeroFruit opened #2292 "Fix typos on the docs"
I have followed the starport Developer Tutorials: blog, ibc. And founds some typos on the docs. Before creating PR I want to double-check whether these are real typos.

## 1. Fix if statement
![image](https://user-images.githubusercontent.com/18715362/162869152-c08d7206-c7c9-47b1-a0f8-e49af66b5c7b.png)

link: https://docs.starport.com/guide/blog/comment-blog.html#process-messages

I think this sho

[2022-04-13 00:49] zeroFruit commented on #2292
@ilgooz @alijnmerchant21  I'm going to work on this issue

[2022-04-13 06:06] ilgooz opened #2309 "protoc: unset NODE_OPTIONS"
because it causes to error by over configuring plugins out of control of Ignite CLI

thanks @jeronimoalbi for reporting.

[2022-04-13 09:05] alijnmerchant21 commented on #2292
Thanks, @zeroFruit! You can create a PR fixing this. If anything is needed, please don't hesitate to reach out to me & my team.

[2022-04-13 09:15] PerrywLiu opened #2311 "publish chain on MacOS when error"
I use starport to build a blockChain, it run success in local. When I want publish it , I use follow command on MacOS:

		`starport network chain publish https://github.com/PerrywLiu/cainiao.git --branch master`

it excute this :
`✔ Source code fetched
✔ Blockchain set up
✔ Blockchain built
✔ Blockchain initialized
rpc error: code = Unknown desc = unknown query path: unknown request`

maybe someth

[2022-04-13 09:24] fadeev commented on #2311
This functionality is not yet publicly available.

[2022-04-13 09:24] #2311 closed

[2022-04-13 09:29] PerrywLiu commented on #2311
how can I publish my own chain, I just want test multi node mode

[2022-04-13 09:30] fadeev commented on #2311
For now only manually,

https://hub.cosmos.network/main/hub-tutorials/deploy-testnet.html

[2022-04-13 09:31] PerrywLiu commented on #2311
ok , let me have a try

[2022-04-13 10:43] ilgooz commented on #2044
@lubtd @fadeev, thinking about the Crescent example, are you sure that we want to have this kind of a behavior?

[2022-04-13 10:43] ilgooz commented on #2292
Seems like the PR is already open @alijnmerchant21 #2308.

[2022-04-13 11:18] fadeev commented on #2044
This behavior certainly requires everyone to use the Ignite CLI to apply to become a validator, but I don't see this as being particularly problematic.

[2022-04-13 11:36] lubtd commented on #2044
This is a strict requirement for Incentivized Testnets otherwise IBC connection for monitoring can be impossible or can be gamed. I specified in Genesis Generation Specification that it is a requirement for Incentivized Testnet.

But there is no issue for other chains as long as the validators have the balances

It's possible I didn't make the precision in the issue for simplicity but if there is

[2022-04-13 12:35] miladz68 commented on #1141
Any answers ?

[2022-04-13 12:36] ilgooz commented on #2044
Then let's make it now strict and require no gentx and if there is use case for the other scenario we can introduce it then.

[2022-04-13 12:44] #2292 closed

[2022-04-13 13:17] rafaelsousa commented on #1141
@miladz68 This was a newbie question that I've made last year. In order to debug a starport scaffolded application, one can just build it the first time using starport and then debug it like a regular go application.

[2022-04-13 13:26] PerrywLiu commented on #2311
I build the gaia as the tutorials, when I execute the command `make build-docker-gaiadnode`，it error like this:

`make -C networks/local
make[1]: *** networks/local: No such file or directory.  Stop.
make: *** [Makefile:225: build-docker-gaiadnode] Error 2`

then I make the /networks/local dir , then the error like this :

`make -C networks/local
make[1]: Entering directory '/usr/local/src/cosmos/

[2022-04-13 13:47] ilgooz commented on #1141
We are planning to add support for configuring the build phase, but it will take a while to introduce due to other priorities.

[2022-04-13 14:07] barriebyron opened #2314 "search on our Ignite Docs (Formerly Starport Docs) links to the old starport.network url"
**Describe the bug**
the search on our Ignite Docs (Formerly Starport Docs) links to the old starport.network url.
Scott Carter noticed that a search for “launch” has 1 result but takes me to: https://docs.starport.network/#starport-cli

how do we update the link URLs that are pulled into search?

**To Reproduce**
do a search, oops
<img width="222" alt="image" src="https://user-images.githubuserco

[2022-04-13 14:49] fadeev commented on #2311
@PerrywLiu since this is not an Ignite CLI question, please, reach out to developers on the Cosmos Discord server:

https://discord.com/invite/cosmosnetwork

[2022-04-13 15:19] #2130 closed

[2022-04-13 15:25] barriebyron commented on #2314
@fadeev  I submitted https://www.notion.so/allinbits/support-to-move-docs-ignite-com-to-Docusaurus-8f2919e1b90643bf9af29905bec15524

please add relevant details if we have more context

[2022-04-13 15:41] ilgooz opened #2323 "enable ARM and Darwin builds"
by reverting https://github.com/ignite-hq/cli/pull/2322

after CI resolved

[2022-04-13 18:08] ilgooz commented on #2323
done

[2022-04-13 18:08] #2323 closed

[2022-04-13 18:10] ilgooz commented on #2130
All green! 👏

https://github.com/ignite-hq/cli/releases/tag/v0.0.0-nightly

[2022-04-13 18:14] ilgooz commented on #2241
Hey, we now support ARM both in releases and Docker images.

Please check out our `develop` image: https://hub.docker.com/r/ignitehq/cli/tags

[2022-04-13 18:15] ilgooz commented on #1201
solved by https://github.com/ignite-hq/cli/pull/2247

[2022-04-13 18:15] #1201 closed

[2022-04-13 18:15] ilgooz commented on #1110
solved by https://github.com/ignite-hq/cli/pull/2247

[2022-04-13 18:15] #1110 closed

[2022-04-13 18:16] ilgooz commented on #1110
@aat2703 you should now have access to our ARM binaries in the [nightly](https://github.com/ignite-hq/cli/releases/tag/v0.0.0-nightly) and from our Docker hub [images](https://hub.docker.com/r/ignitehq/cli/tags).

We'll include the ARM binaries to the next point release of the CLI after enough testing.

[2022-04-13 19:14] rksingh2001 commented on #1610
I think this issue can be closed @barriebyron as vuepress-theme-cosmos will be changed, and until then it's not possible to work on this issue.

[2022-04-13 21:28] njmurarka commented on #2167
@lodotek @ilgooz @alijnmerchant21 Sorry for the ping, but any update on this?

Apologies for not pinging earlier -- was away at conferences and felt I would give you folks some time.

[2022-04-13 21:30] njmurarka commented on #2181
Giving it a shot and will let you know. So are we aware of the posted issue and the fact it was resolved?

[2022-04-13 21:45] ilgooz commented on #2181
Yes, we now use the `go install` command to install plugins which what enforced by the newer versions of Go.

[2022-04-14 01:40] PerrywLiu commented on #2311
OK，thank you  very much !

[2022-04-14 04:30] l0k18 opened #2346 "unsafe-reset-all is gone?"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `ignite chain serve`
2. change the code.
3. voila.

Can be worked around by deleting the `~/.appname` directory.

**Please provide the version output**
 - `ignite version`:
[code]

[2022-04-14 06:54] l0k18 commented on #2346
I eventually found it. It's now a subcommand under tendermint subcommand. I guess I'm forking this to make a PR to fix it.

[2022-04-14 06:58] ilgooz commented on #2346
Hey @l0k18, when should I expect the PR from you?

We need send a patch release ASAP.

[2022-04-14 07:17] ilgooz opened #2349 "cmd/build: detect SDK version after go mod tidy"
detect SDK version after running go mod tidy since this command might adjust/change SDK's version.

[2022-04-14 07:39] ilgooz commented on #2346
solved by https://github.com/ignite-hq/cli/pull/2350.

@l0k18 We'll make a new point release soon, please watch out for v0.20.2.

[2022-04-14 07:39] #2346 closed

[2022-04-14 08:46] fadeev commented on #2251
@barriebyron not yet, no.

@Zfinix we need to know whether knowing the version of Dart/Flutter is helpful for debugging issues with the mobile template.

[2022-04-14 08:48] Zfinix commented on #2251
Yes it's a great information to have

[2022-04-14 08:48] fadeev commented on #2251
Anything else that would be useful for Flutter devs?

[2022-04-14 09:10] Zfinix commented on #2251
That's just okay

[2022-04-14 09:52] ilgooz opened #2354 "ignite-hq/installer: cannot download/install correct ARCH"
It's installing amd64 version even if I use M1.

And on Linux ARM, it tries to install amd64 as well.

Tho, when I download the correct binary manually, it runs as expected.

[2022-04-14 09:56] ilgooz commented on #2354
moved to https://github.com/ignite-hq/installer/issues/2

[2022-04-14 09:56] #2354 closed

[2022-04-14 14:50] jeronimoalbi commented on #2309
I have been trying to replicate the issue by using `export NODE_OPTIONS=--max_old_space_size=8192` while scaffolding a new chain but it is not happening anymore. It seems that the upgrade from `4.4.9` to `5.5.2` in [65f1690](https://github.com/ignite-hq/cli/commit/65f16906ba642e22d5953d701b21a091f2dd4cc2#diff-aa500141c403d546d3c8773ba83c34896212497584fba41ff98d5dfe696709a2) fixed the issue.

[2022-04-14 20:23] ilgooz opened #2358 "ci/build: build protoc binary in macOS v10"
so, binaries can work properly in the older versions

[2022-04-15 08:05] l0k18 opened #2365 "feat: Keep consistent order of operations with proto before changing code in the guide"
**Is your feature request related to a problem? Please describe.**

In the Ignite CLI guide in the blog section:

https://docs.ignite.com/guide/blog/#define-messages-logic

as mentioned just a few paragraphs earlier, one should change the prototype first, allow it to regenerate, and then make changes involving the new types. For reasons of which in part being that this prevents the learner's IDE f

[2022-04-15 09:55] jeronimoalbi opened #2366 "refactor(pkg/cosmoscmd): remove dependency with the networkchain package"
The `cosmoscmd` package that is defined inside the "pkg" directory is importing `networkchain` which is defined in the "services" directory. Ideally all the packages defined within the "pkg" directory should not depend on packages defined outside of it.

[2022-04-15 11:31] ilgooz commented on #2358
https://github.com/ignite-hq/cli/pull/2367
https://github.com/ignite-hq/cli/pull/2360

[2022-04-15 11:31] #2358 closed

[2022-04-15 14:47] barriebyron commented on #1610
thanks for being a part of our community @rksingh2001  and keeping up with the status of this issue.

[2022-04-15 14:47] #1610 closed

[2022-04-15 19:16] aljo242 opened #2375 "Simulation Genesis template leads to nondeterminism"
**Describe the bug**
A clear and concise description of what the bug is.

Scaffolding a new `list` or `map` with simulation enabled may add something like this in the corresponding module's `GenerateGenesisState` function:

[code]

Running the same seed multiple times will yield a different `AppHash`.  This is because of the usage of `sample.AccAddress` instead of some deterministic selection from

[2022-04-16 11:24] lootnath opened #2377 "How do we know noBackdoors?"
Yo Putonghuaese, watup?

[2022-04-16 14:43] #2377 closed

[2022-04-16 18:57] bjaanes commented on #2187
This is probably fixed in the newest version I think?

[2022-04-16 19:03] bjaanes commented on #2127
@danmurphy1217 @alloyking1 @deep2chain essentially the scaffolding is just a step to create the, well, scaffolding, for what you need (in this case a message). It simply lets you very quickly create most of the code you need so you can quickly get to coding. You can, and most often should, change it afterwards. Like @fadeev, you just need to update the generated protobuf code when you makes change

[2022-04-16 19:05] bjaanes commented on #2053
@ProsperWare arm64 support was recently added, perhaps you could try again with the newest version of the cli?

[2022-04-16 19:09] bjaanes commented on #1957
@landeyogita The latest version of the cli now supports arm64 :)

[2022-04-16 19:18] bjaanes commented on #1923
@faddat it looks like the issue was less of a problem than initially thought. Is this is a problem in the cli or would you say this issue can also be closed?

[2022-04-17 22:47] #2187 closed

[2022-04-18 08:23] #1957 closed

[2022-04-18 13:29] ivanovpetr commented on #1985
@ilgooz it seems this issue is outdated.

[2022-04-18 13:46] ivanovpetr commented on #1772
@denniswon @AmanRaj1608 This error used to appear if go.mod had an outdated dependency. If you scaffolded your chain with ignite(previously starport) before this fix https://github.com/tendermint/spn/pull/419 , you may have this dependency in your's chain go.mod and it causes this error.

[2022-04-18 13:46] #1772 closed

[2022-04-18 14:31] ivanovpetr opened #2378 "Friendly errors for network commands"
**Is your feature request related to a problem? Please describe.**
If error happens inside any network command most of the time user will see in output some low level error description e.g.
<img width="958" alt="image" src="https://user-images.githubusercontent.com/16123342/163822410-191bdc73-1550-4caa-a8b3-1047d1f47b5e.png">
It could be hard to identify what is the problem.

**Describe the soluti

[2022-04-18 14:31] barriebyron commented on #1985
Our new website and the docs pages are all good now, closing
thanks for noticing @ivanovpetr

[2022-04-18 14:31] #1985 closed

[2022-04-18 15:52] ilgooz opened #2380 "network/publish: support repo urls without protocol sepesified"
usually we expect:
[code]

but user might do:
[code]

We should support both.

Regarding to the implementation, we could implement an `HTTPS()` version of [HTTP](https://github.com/ignite-hq/cli/blob/f48f0ff/ignite/pkg/xurl/xurl.go#L18) and use here.

[2022-04-18 16:23] ilgooz opened #2382 "tests/js: add integration test to test generated TS client"
* use `integration/cosmosgen` dir to add tests.
* create a file named `integration/cosmosgen/node.go`
* create a dir named `integration/cosmosgen/testdata/node`
  *  `node init` in this directory to create a `package.json`
  * create a file named `tsclient.ts`
  * create a file named `index.ts` (this should import/run `tsclient.ts`)
* in the `node.go` create a new test func
  * scaffold a new chai

[2022-04-18 18:40] ilgooz opened #2383 "speed up build commands: e.g. `c build/serve`"
[Learn more about the bounty on Ignite's Discord](https://discord.com/channels/893126937067802685/946155736289910894/965685908517052466).

It takes a quite bit of time for Ignite CLI to _*rebuild_ and start a blockchain during development when you use the `c serve` command.

`c serve`, `c build`, `generate`, `scaffold`, and some other related commands that shares the same logic under the hood. Imp

[2022-04-18 18:40] ilgooz commented on #1996
closing in favor of https://github.com/ignite-hq/cli/issues/2383.

[2022-04-18 18:40] #1996 closed

[2022-04-18 18:41] ilgooz commented on #1997
closing in favor of https://github.com/ignite-hq/cli/issues/2383.

[2022-04-18 18:41] #1997 closed

[2022-04-18 18:41] ilgooz commented on #1285
closing in favor of https://github.com/ignite-hq/cli/issues/2383.

[2022-04-18 18:41] #1285 closed

[2022-04-19 07:36] fadeev opened #2388 "Stuck on scaffolding a chain"
![unknown](https://user-images.githubusercontent.com/332151/163950300-3616639c-ea38-4aa9-8ede-06b44dfa5bbe.png)

Fedora 35
Ignite 0.20.4

Reported on Discord, waiting for more info.

[2022-04-19 07:43] smrm-dev commented on #2388
[code]

[2022-04-19 08:12] jeronimoalbi commented on #2309
@ilgooz I think this can be closed. I was not able to reproduce the issue after the recent updates.

[2022-04-19 08:26] 3xpr commented on #2047
# TLDR
You probably have an Issue with your Go Installation or with your $PATH variable.

# Error Description
I had a similar Issue and also thought that the problem was a 404 for the URL. Until i checked the other URLs in app.go which also 404 when pasted into the browser.

I followed @fadeev 's advice and ran `starport scaffold chain github.com/cosmonaut/hello` again which gave me the following

[2022-04-19 08:40] #2380 closed

[2022-04-19 08:48] #2309 closed

[2022-04-19 09:03] ilgooz opened #2390 "refactor `pkg/xurl`"
We should refactor this package to prevent possible bugs.

We need to refactor TCP, HTTP, HTTPS and WS funcs.

For ex. [HTTPS](https://github.com/ignite-hq/cli/blob/170b120/ignite/pkg/xurl/xurl.go#L18) used in the `network c publish` command.

Users may provide a url with `http`, in this case this func will add the `https` prefix anyway and broke the url.

To fix this, TCP, HTTP, HTTPS and WS shou

[2022-04-19 11:04] ilgooz commented on #2289
We also make `ignite relayer` compatible to relay packages between the two chains

[2022-04-19 13:58] ivanovpetr opened #2391 "Clispinner conflicts with regular output functions"
**Describe the bug**
Sometimes clispinner conflicts with regular fmt print functions they are running in different goroutines and have "race condition" over output. This way output is broke from time to time

**How to fix**
If cmd is using clispinner make sure it is synchronised with fmt print functions.

[2022-04-19 13:59] ivanovpetr commented on #2213
Move concurrency bug to another issue https://github.com/ignite-hq/cli/issues/2391

[2022-04-19 19:02] ilgooz commented on #1863
closed by https://github.com/ignite-hq/cli/pull/2235.

[2022-04-19 19:02] #1863 closed

[2022-04-19 19:02] #1740 closed

[2022-04-19 19:04] #2053 closed

[2022-04-20 07:41] ilgooz opened #2394 "ask confirmation when scaffolding over not staged changes"
[Learn more about the bounty on Ignite's Discord](https://discord.com/channels/893126937067802685/946155736289910894/966242717728391168).

When running one of the `scaffold` commands, except `scaffold chain`, Ignite CLI should check if there are any not staged changes for commit.

If there are changes that aren't committed yet, Ignite CLI should warn user and ask confirmation to proceed to scaffol

[2022-04-20 07:46] fadeev commented on #2394
Interesting! I could argue that this will introduce more Git commands to the tutorials, which is less than ideal because we don't want to focus too much on the non-Ignite things. However, with the `-y` flag that might not be a problem.

@barriebyron can you, please, suggest changes to the message?

[2022-04-20 07:48] ilgooz commented on #2394
Thanks @bjaanes for proposing this idea!

[2022-04-20 10:10] ivanovpetr opened #2395 "Further improvements of network package tests"
The network package now have a unit tests. They work well but there are still a lot things to improve. Two main topics I see important are:

1. Moving all utilities related to stubbing low level stuff (genesis, gentx, cosmosclient, responses) to more global scope.
2. Improving predefined fixtures in order to reduce amount of code used for setup.

Also @Pantani mentioned that [cosmos-sdk](https://g

[2022-04-20 11:13] ilgooz commented on #1982
cc https://github.com/ignite-hq/cli/tree/feat/cmd-output @ivanovpetr

[2022-04-20 13:03] ilgooz opened #2397 "cmd/account: disallow passphrase when importing from mnemonic"
either fail the `import` command or ignore the non empty passphrase.

[2022-04-20 15:30] ilgooz commented on #2394
Hey @Grinion!

You have been assigned to this issue, it'll be pretty excited for us to see your solution! 🎊

[2022-04-20 15:43] barriebyron commented on #2394
`Current project changes are not saved. To enable reverting to your current state, commit your current changes. Do you want to proceed with scaffolding without saving?`

wdyt about wording like this?

[2022-04-20 17:04] fadeev commented on #2394
@barriebyron I'm afraid that's not exactly accurate. The changes have been saved, they just haven't been committed. It's not that something will be overwritten, it's more about being able to easily undo the results of scaffolding.

[2022-04-20 20:56] barriebyron commented on #2394
`Your saved project changes have not been committed. To enable reverting to your current state, commit your saved changes. Do you want to proceed with scaffolding without committing your saved changes?`

something like this?

[2022-04-21 11:10] tapachir opened #2399 "stargate chain build - error cannot assign reqested address"
When running `stargate chain build` in a Dockerfile I get the following error

`Cosmos SDK's version is: stargate - v0.42.4

cannot build app:

go: github.com/cosmos/cosmos-sdk@v0.42.4: Get "https://proxy.golang.org/github.com/cosmos/cosmos-sdk/@v/v0.42.4.mod": dial tcp [2a00:1450:4016:80a::2011]:443: connect: cannot assign requested address`

I fairly new to the topic and not sure where to look.

[2022-04-22 12:04] fadeev opened #2402 "Remove `ignite completion`"
Remove `ignite completion`, but keep `ignite tools completions`. Right now they're duplicated.

<img width="682" alt="Screen Shot 2022-04-22 at 16 03 25" src="https://user-images.githubusercontent.com/332151/164710731-27c9b5ed-5dfc-4f07-a130-f468bc7b89f8.png">

[2022-04-22 15:56] ilgooz opened #2403 "network: support adding bulk account"
from csv file, without need of using `ignite a`. only the public address should be enough.

[2022-04-22 15:56] ilgooz opened #2404 "network: support any account prefix"
while adding an account, sending gentx.

automatically convert the prefix with chain's

[2022-04-22 19:52] mehdisbys commented on #2388
Hi @fadeev , I have exactly the same issue :

[code]

[2022-04-23 01:06] njmurarka opened #2405 "The IBC Communications Basics tutorial is missing a Creator field"
**Describe the bug**
If you follow the steps in https://docs.ignite.com/guide/ibc.html, and try to run the chain, you will see the following:

[code]

I was able to resolve the first, by manually adding a Creator field to the end of the Post object in proto/blog/post.proto. I did the same for the SentPost object in sent_post.proto and for the TimedoutPost object in timedout_post.proto.

I ran igni

[2022-04-23 07:08] fadeev commented on #2403
This sounds a lot like an airdrop system. Are we sure we want to do add accounts individually as opposed to having them in a custom genesis?

[2022-04-23 07:57] ilgooz commented on #2403
Yes, it would be for token distributions.

What do you mean by having them in custom genesis? You mean let users to create a genesis manually with all these accounts? How they do that, do they need to write a custom tool? Why shouldn't we make it easier to them by offering this feature out of the box?

[2022-04-23 10:13] fadeev commented on #2403
I mean,

[code]

[code]

Will produce a custom genesis one would be able to use in:

[code]

Ignore the details for now, but the point was that we provide the tooling to create this custom genesis, all these accounts are added to it.

[2022-04-23 10:17] fadeev commented on #2403
The reason it's going to be challenging to do NOT in the genesis is that it may literally be hundred of accounts, too much to keep on chain.

[2022-04-23 10:37] Grinion commented on #2394
Hi,
I confirm my participation in this task.

I need help with integration tests. My changes break many tests because of adding step confirmation to proceed to scaffolding.

Now I see two solutions
1) Add environment parameter (IGNITE_NON_INTERACTIVE = T/F) when this parameter is TRUE, do not check the Git status, and do not show the confirmation message.

2) Change each test and add the --yes opt

[2022-04-23 10:45] fadeev commented on #2394
@barriebyron thank you! Yes, let's use this version.

[2022-04-23 11:20] fadeev commented on #2394
Maybe I'm completely off here, but this functionality probably should handle if `git` is missing. It's very rare, but some people may not have `git` installed or they're using non-git VCSs.

[2022-04-23 12:53] lubtd commented on #2403
The requirement for a mainnet whether it's token distributions, airdrop, or anything with a balance, is that every balance is tracked through the allocated shares of the campaign

For airdrop, instead of using a custom genesis, I was thinking more about reading the `airdrop.yml` when the final genesis is generated (`prepare` command) and adding the eligible claimable accounts in the genesis at thi

[2022-04-23 21:18] njmurarka commented on #2167
@lodotek @ilgooz @alijnmerchant21 Sorry for the ping, but any update on this?

I think I saw a message that it was resolved, but for the life of me, cannot find that message anywhere.

[2022-04-24 08:59] ilgooz commented on #2394
@fadeev we can basically do nothing if Git is missing.

@Grinion I would say we definitely go with option 2. 👍

[2022-04-24 12:36] Grinion commented on #2394
I see that ignite already has a dependence on the library go-git and this library doesn't depend on the system git.  It has its implementations and then I don't have a problem with checking for any changes that aren't committed yet and can show the message even when someone doesn't have git installed on the system.

What must I do if Git is missing?  Checking or ignoring changes that aren't commit

[2022-04-24 15:43] ilgooz commented on #2394
If `go-git` can not detect a git repo (same as project dir not having a .git dir), we can just skip checking. We don't need to try to find a `git` binary or anything.

[2022-04-25 10:18] ilgooz opened #2406 "tests/js: add integration test for a custom module"
Depends on https://github.com/ignite-hq/cli/issues/2382, and will use the same base.

We need to add one more integration test to test chain's own module:
* scaffold a module with a simple name
* scaffold a module
* add a list type to the module with messages
* create a test by adding an entry and querying to check if it's there

[2022-04-25 11:13] ilgooz opened #2407 "cmd/account: add `select` command"
Right now, we require `--from` flag to switch account in use for `network` and `relayer` commands.

When you don't set the `--from` flag it defaults to the account named `default`.

Implement `ignite account select` to change the default account to something else. This account should be used as the default account when not using the `--from` flag.

Change the default value of the `--from` flag wit

[2022-04-25 12:13] ilgooz commented on #2289
related to https://github.com/ignite-hq/cli/issues/1993

[2022-04-25 12:25] ilgooz commented on #2273
released

[2022-04-25 12:25] #2273 closed

[2022-04-25 15:04] lubtd opened #2410 "`network prepare`: set `monitoringp` module params for testnets"
Testnets with an associated reward pool must initialize the `monitoringp` module param in the genesis with some data to allow creating the verified IBC client and performing IBC connection

This genesis modification should be performed during the final genesis generation, so in the `prepare` process

Values that must be set:
- lastBlockHeight
- consumerRevisionHeight
- consumerUnbondingPeriod
- co

[2022-04-26 06:24] ilgooz commented on #2383
Hey @bjaanes!

You have been assigned to this issue, thank you for participating in our bounty program, we will be very excited to see your solution! 🎈

[2022-04-26 08:10] #2291 closed

[2022-04-26 08:59] fadeev commented on #2083
No longer the case.

[2022-04-26 08:59] #2083 closed

[2022-04-26 09:21] fadeev commented on #2405
https://github.com/ignite-hq/cli/pull/2408

[2022-04-26 09:21] #2405 closed

[2022-04-26 10:31] bjaanes commented on #2383
Excellent! Excited to work on this (i.e. I accept).

[2022-04-26 15:17] ilgooz opened #2414 "network: approved validator request is still in pending status"
reported by @fadeev

[2022-04-26 15:19] ilgooz opened #2415 "network: shouldn't approve validator if there is no account"
request approved or in the pipeline to be approved (order is important)

check this on the cli side

reported by @fadeev

[2022-04-27 07:17] fadeev commented on #2414
Actually, I reported about rejected proposals being in the list.

[code]

`https://api.nightly.starport.network/tendermint/spn/launch/request/11`:

[code]

[2022-04-27 07:57] fadeev commented on #2271
@barriebyron @ChrisValle please, check if this issue is still relevant.

[2022-04-27 09:55] #2239 closed

[2022-04-27 10:09] ilgooz opened #2418 "Blog tutorial needs improvement"
### Discussed in https://github.com/ignite-hq/cli/discussions/2169

<div type='discussions-op-text'>

<sup>Originally posted by **lodotek** March 17, 2022</sup>
This is implying that the `proto.go` file is NOT empty:
https://github.com/tendermint/starport/blob/c3066575d2fe4bfd31e630ac18a91150ea390418/docs/guide/blog/index.md?plain=1#L189

But on [line 190](https://github.com/tendermint/starport/bl

[2022-04-27 12:54] #2271 closed

[2022-04-27 14:54] ivanovpetr opened #2420 "Refactor `service/chain` avoid direct writes to stdout"
**Is your feature request related to a problem? Please describe.**
Package `service/chain` could write directly to the stdout. It should not be able to do this, and have an abstract channel to sent internal logs or events

[2022-04-28 09:07] ilgooz opened #2422 "network: bytes should be represented as strings"
When I run `ignite n request show 12 2` I see bytes printed for `consPubKey` and similar places.

Maybe this section here is not effective:
https://github.com/ignite-hq/cli/blob/f48f0ff/ignite/cmd/network_request_show.go#L56-L61

After fixing this, let's also look for similar places/commands to see and fix this problem everywhere.

[2022-04-28 12:06] #2422 closed

[2022-04-28 12:30] #2394 closed

[2022-04-28 12:45] ilgooz opened #2426 "cmd: prompt library is buggy"
for ex, confirmation prompt reprints the message after you say Yes or No.

I remember this was happening with other types of prompt where you write an answer and hit enter.

As far as I remember we were using two different 3rd party library for prompts.

So, can we only stick to one, and something stable?

to reproduce:

scaffold a chain, make a change in the source code but do not commit changes,

[2022-04-28 13:10] bjaanes commented on #2383
Alright, I've gotten a pretty good overview of the main bottlenecks and how to fix them. One thing that has become clear very quickly is the need for a caching "system" that can be easily accessed multiple places. So what I want to ask about is how you prefer this being designed.

For context, the main way this is done today is by saving checksum as text files in a folder that is only accessible i

[2022-04-28 17:17] #2390 closed

[2022-04-30 04:18] ygit1 commented on #2388
Same problem,

I tried this but failed
```go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2@latest```

I run
```ignite scaffold chain github.com/ygit1/hello```

directory and files were made, but "Scaffolding..." never stops.

[2022-04-30 11:57] xxxxxchan opened #2429 "Can't ignite chain serve on MacOS M1 chip"
**Describe the bug**
While attempting to run `ignite chain serve`, the following error was thrown:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. `sudo curl https://get.ignite.com/cli! | sudo bash`
2. `ignite scaffold chain github.com/username/hello`
3. `ignite chain serve`

**Please provide the version output**
 - `ignite version`:v0.20.4
 - `Macbook`: BigSur v1.6

[2022-04-30 13:41] #2429 closed

[2022-04-30 13:43] xxxxxchan commented on #2429
Upgrading to macOS Monterey 12.3.1 problem all solved

[2022-05-01 05:29] mondainai247 opened #2430 "cannot build app:"
$ ignite chain serve
Cosmos SDK's version is: stargate - v0.45.3

🛠️  Building proto...
📦 Installing dependencies...
cannot build app:

	error while running command go mod verify: github.com/go-git/go-git-fixtures/v4 v4.0.1: dir has been modified (/Users/PythonMstr/go/pkg/mod/github.com/go-git/go-git-fixtures/v4@v4.0.1)
github.com/tendermint/flutter/v2 v2.0.3: dir has been modified (/Users/PythonM

[2022-05-01 12:48] fadeev opened #2431 "Default GO111MODULE=on for Package Resolution"
[code]

Go: both v1.17 and v1.18

[2022-05-01 12:48] fadeev commented on #2431
The solution is to set `export GO111MODULE=on`. Maybe there is a fix for this that won't require users to set this variable manually.

[2022-05-02 06:15] ilgooz commented on #2431
In these version of Go this variable always set on by default. But we can make sure that it's on anyway even if user set it off.

[2022-05-02 06:21] ilgooz commented on #2383
Can you please elaborate this to help me understand what's the problem?

I really don't prefer using context to pass data around, it is pretty ambiguous. But maybe they are better after generics introduced, haven't checked it for a while.

We can definitely use a key value storage, and in the future we can also refactor the existing code to use this storage.

[2022-05-02 06:55] ilgooz commented on #2388
It also could be repeated to your internet connection. In your very first time developing with Cosmos SDK and CLI, Go needs to install a bunch of packages and cache them in your file system. Anyone who is experiences this, please rerun the command and try again.

[2022-05-02 07:42] ilgooz commented on #2156
Hey @johnletey, thank you for showing interest in this bounty! 🎊

You have been assigned to the issue!

Please confirm your participation by leaving a comment, thanks!

[2022-05-02 07:45] johnletey commented on #2156
Hey everyone 👋🏻 Super excited to be working on this.

Will follow up with any updates here 😄

[2022-05-02 08:18] ilgooz commented on #2156
Cool! Thank you John, please let me know if you want to discuss anything about the implementation!

[2022-05-02 11:23] ivanovpetr opened #2432 "UPDATE: Unify all terminal output coloring with `pkg/cliui/color`"
There are places in code where terminal output is being colored. It is all done independently from each other. There should be one point of output coloring. We need to embrace all those cases of under this one package.

[2022-05-02 13:16] bjaanes commented on #2383
Specifically, one thing I need to do is find the cache folder (which currently, if am not mistaken, is dependent on service/chain because it uses the chain-id in the folder name) when scaffolding. So what I did now as a quick workaround is that I do a "chain.New(appPath)" right after scaffolding to get the info I need. This creates a dependency between service/scaffolding and service/chain which I

[2022-05-02 19:46] Pantani opened #2433 "INIT: generate cosmos-sdk mock modules"
create a `make` or script command to fetch the cosmos-sdk and auto-generate the mocks for a module

eg:

[code]

This command should clone the cosmos-sdk repo and run the mockery into the module folder.

This can be useful if the module updates or we need to add support to mock a new module.

[2022-05-02 19:53] Pantani opened #2434 "feat(network/test): Reduce duplicated code"
We can use more table tests in the network methods and avoid calling the queryMock too much time. We should define a structure to carry the expected mock and call only one time in the tests.

[code]

[2022-05-03 08:28] ivanovpetr commented on #2434
You mean adding fixtures inside of the suite struct? If so I like the idea👌

[2022-05-03 15:06] dnavre opened #2436 "Calling export right after init produces a panic"
After a chain is initialized, without starting it, if one calls an export on it, the export produces a panic. At least a more reasonable output will be great. The way it is now a developer isn't sure if they have a bug somewhere in their code or if this is expected behavior.

P.S.
I'm not sure if this is an ignite bug, probably this has to be fixed in cosmos-sdk.

**To Reproduce**
Steps to reprodu

[2022-05-03 15:31] fadeev commented on #2436
You have to initialize the chain first. `testqaqd init` creates a data directory, but it doesn't add validators or accounts. In this example `export` most likely complains about the validator list being empty. The easiest way to initialize a chain (for development purposes) is to run `ignite chain serve`.

[2022-05-03 15:36] dnavre commented on #2436
I fully agree and understand, however, what I'm saying is that a better error message would be greatly appreciated here.

[2022-05-03 15:58] fadeev opened #2437 "chore: add @jeronimoalbi to the codeowners file"

[2022-05-03 16:45] Pantani opened #2438 "feat(network): add flag `--spn-faucet` flag"
add the ability to use a custom spn faucet URL for the network's commands. My suggestion is to use a `--spn-faucet` flag

![Screen Shot 2022-05-03 at 13 43 02](https://user-images.githubusercontent.com/2406457/166500310-bc8082ea-3dd4-4f66-9783-d280e4d763fe.png)

[2022-05-03 17:03] fadeev commented on #2438
To future-proof this (and since this is only going to be used for network commands) I'm fine with `--faucet` as well.

[2022-05-03 17:51] Ozkabgundogan commented on #2438
Add

[2022-05-03 20:37] dnavre commented on #2436
Should I open a bug there?

[2022-05-03 20:51] mehdisbys commented on #1666
Thanks for this it saved me a lot of head scratching .

Maybe an easy solution would be to add more details in the error

from :
`signature verification failed; please verify account number (0) and chain-id`

to :
`signature verification failed; please verify account number (0) and chain-id (with-dash) current value is (withdash)`

@ilgooz (tagging you since I see you often in the Discord 😁 )

[2022-05-04 07:55] fadeev commented on #2436
Not really a bug, but a feature suggestion to improve the UX of error handling, but yes, `cosmos/cosmos-sdk` would be the repo. Closing this issue as this is not something Ignite can fix.

[2022-05-04 07:55] #2436 closed

[2022-05-05 11:19] #2209 closed

[2022-05-05 11:19] #2213 closed

[2022-05-05 11:19] #2391 closed

[2022-05-05 11:48] #2437 closed

[2022-05-05 13:33] ivanovpetr opened #2443 "Use specific event constructors instead of unified one"
We should use [this](https://github.com/ignite-hq/cli/blob/develop/ignite/pkg/events/events.go#L65) in places like [this](https://github.com/ignite-hq/cli/blob/develop/ignite/pkg/events/events_test.go#L21)

[2022-05-05 17:58] Pantani opened #2448 "bug(cliui/relayer): cannot configure the relayer"
after the new cliui package the `cliquiz` from relayer configure is not working

[2022-05-06 08:06] #2281 closed

[2022-05-06 08:14] ilgooz opened #2451 "add integration tests for `ignite relayer` commands"
Create a new dir named `integration/relayer`.

* Scaffold two chains and start them
* Use `ignite relayer configure` to configure these two chains.
* Use `ignite relayer connect` to start relaying packages. (this process will block unless canceled by user).
* By using one of the chain's binary, send 10token to other chain by using `marsd tx ibc-transfer`.
* Query both of the chains by using the AP

[2022-05-06 08:33] #2448 closed

[2022-05-06 08:44] ilgooz commented on #2131
Hey @twisstosin, thanks for participating in our bounty program!

We're assigning this issue to you, can't wait to see your solution! 🎊

[2022-05-06 11:56] twisstosin commented on #2131
awesome! thanks, I'll get on it.

[2022-05-06 11:57] twisstosin commented on #2131
awesome! thanks, I'll get on it.

[2022-05-06 11:57] twisstosin commented on #2131
awesome! thanks, I'll get on it.

[2022-05-06 12:39] ilgooz opened #2453 "create env to run Makefile in a docker container"
Right now, we're running commands in this Makefile and it's not consistent for everyone like formatting Go code because everyone's environments and tools' version different.

We should create a docker container environment to run the Makefile inside it.

Directly running Makefile should quit with an error, we should ensure that it runs in the docker container

[2022-05-08 16:57] #2208 closed

[2022-05-08 17:38] ilgooz commented on #2420
Petr hey! Will this issue also cover the restyling the output of `c serve` cmd? If so, can we please create a separate issue for the following recommendation?

Since we now plan to start using: https://github.com/charmbracelet/bubbletea, I believe we can benefit from the refreshing feature (I don't know the exact name for it).

For ex, right now when there are changes in the files, the serve comma

[2022-05-08 18:01] fadeev commented on #2420
Since this is also a UX issue, let's discuss this before implementation.

[2022-05-09 12:21] hammadtq commented on #1772
For me `xcode-select --install` worked!

[2022-05-09 13:46] ilgooz commented on #2420
Add more screenshots here about the final ui before starting to the impl.

[2022-05-10 07:08] #2426 closed

[2022-05-10 07:11] ivanovpetr commented on #2420
@ilgooz this issue intended only for refactoring. I thing that issue https://github.com/ignite-hq/cli/issues/1079 is the best choice to discuss redesign.

[2022-05-10 07:16] ilgooz commented on #1079
This will be addressed by https://github.com/ignite-hq/cli/issues/2420.

[2022-05-10 07:17] ilgooz commented on #2420
👍 reopening.

[2022-05-10 07:17] ilgooz commented on #1079
Here is another design idea: https://github.com/ignite-hq/cli/issues/2420#issuecomment-1120458674

[2022-05-10 07:22] ivanovpetr opened #2458 "Redesign `chain serve` output with bubbletea"
Since we now plan to start using: https://github.com/charmbracelet/bubbletea, I believe we can benefit from the refreshing feature (I don't know the exact name for it).

For ex, right now when there are changes in the files, the serve command will print the logs related to rebuilding the binary, proto, installing dependencies etc. again and again:

[code]

Instead of reprinting all these on every

[2022-05-10 07:24] ivanovpetr commented on #1079
Closed in favor of https://github.com/ignite-hq/cli/issues/2458

[2022-05-10 07:24] #1079 closed

[2022-05-10 07:25] ivanovpetr commented on #2458
We previously had a good ideas about improvements of `chain serve` UX in https://github.com/ignite-hq/cli/issues/1079

[2022-05-10 07:28] vuegoman commented on #1141
It would be nice to provide a vscode debugging feature

[2022-05-10 10:24] RaulBernal commented on #2131
Hi guys, I'm realizing that new module maybe will need an upgrade function (to create storage fields) in already (Ignite-cli) running chains.
Agree  @ilgooz  & @twisstosin ? Thanks :D

[2022-05-10 13:57] ilgooz opened #2459 "UPDATE: tests shouldn't manipulate anything under $HOME"
Check all tests and avoid doing it, one place I found: https://github.com/ignite-hq/cli/blob/8631f30/integration/env.go#L189

[2022-05-10 15:45] Pantani opened #2460 "bug(network/init): small staking amount crashes the chain"
Use a small staking amount in the `network chain init` is crashing the chain when started

![Screen Shot 2022-05-10 at 11 42 11](https://user-images.githubusercontent.com/2406457/167668882-faf8cbe0-2297-4669-87b1-4460ca824650.png)
![Screen Shot 2022-05-10 at 11 42 05](https://user-images.githubusercontent.com/2406457/167668872-060d0762-1d01-4240-851f-643eda189478.png)

[2022-05-10 15:47] Pantani opened #2461 "feat(realyer): create relayer reset command"
create `relayer reset` command to erase all old configurations

[2022-05-10 19:54] Pantani commented on #2433
also we should have a command to generate SPN mocks as well

[code]

[2022-05-11 04:28] soupy-spook opened #2467 "Hyphen in app name causes an error when scaffolding a new module"
**Describe the bug**
If a newly created chain's name contains a hyphen (e.g. test-chain), an error will be thrown when attempting to scaffold a module.

**To Reproduce**
Steps to reproduce the behavior:
1. `ignite scaffold chain github.com/testorg/test-chain --no-module`
2. `cd test-chain`
3. `ignite scaffold module testm`
4. Error: `file: /home/user/test/test-chain/proto/testm/genesis.proto: <inp

[2022-05-11 04:39] fadeev commented on #2467
Can reproduce.

[2022-05-11 06:39] l-wegner opened #2468 "ignite tools completions and ignite completion generate errors, when there is a new version available"
**Describe the bug**
When using `source <(ignite tools completions bash)` in .bashrc the initial output is
[code]

**To Reproduce**
Use ignite v0.20.4.
Call `ignite tools completions bash` or `ignite complate fish` or any other shell and look at the first 6 lines of output. The lines do not start with an comment or an echo.

**Please provide the version output**
 - `ignite version`:
[code]

[2022-05-11 06:47] fadeev commented on #2460
The minimum amount is 1M. We should print a warning when a user supplied less than that and default to sensible values when it's a testnet.

[2022-05-11 08:05] ilgooz opened #2469 "ci: create a workflow to check `pkg/*` doesn't depend on"
any other packages in the CLI repo, except the ones inside `pkg/*`

[2022-05-11 09:22] ilgooz opened #2470 "introduce a migration system for the config file"
[Learn more about the bounty on Ignite's Discord](https://discord.com/channels/893126937067802685/946155736289910894/973882160740171807).

The parser for `config.yml` can be found at [ignite/chainconfig](https://github.com/ignite-hq/cli/tree/630944d/ignite/chainconfig).

### 1- `version` field

There wasn't a version field in the config file (AKA `config.yml`). We should introduce a top level `ver

[2022-05-11 10:56] lubtd opened #2471 "`network prepare`: support updating balance of existing genesis accounts in genesis"
**Is your feature request related to a problem? Please describe.**
For mainnet chain, a token distribution might be already defined in the initial genesis for the chain with special allocations.
A account with token distribution might also redeem vouchers.
Therefore, we must support in the genesis generation, increasing the balance of an already existing account.

**Describe the solution you'd lik

[2022-05-11 11:08] lumtis opened #2472 "`network`: add genesis verification for special allocations"
Depends on https://github.com/tendermint/spn/issues/790

**Is your feature request related to a problem? Please describe.**

Mainnets can have special allocations: shares of the campaign allocated for a specific purposes other than redeemed vouchers
When a special allocation is defined for a mainnet, the client must verify the initial genesis of the chain is valid regarding the special allocation.

[2022-05-11 11:12] lubtd commented on #2044
The validator can also send the gentx to the coordinator and the coordinator add the gentx. The sender of the request doesn't need to be the validator

[2022-05-11 11:16] lubtd commented on #2074
Not sure what was the original goal of the PR? `MsgSetValidatorConsAddress` is sent from the validators while publishing is performed by the coordinator

`MsgSetValidatorConsAddress` has been replaced by `MsgAddValidatorOperatorAddress` but is now optional, not required to get the rewards. Therefore, I think this is an advanced feature we can think about in the future.

@Pantani what is the curren

[2022-05-11 11:21] lubtd commented on #2199
Mmh which line in the code is concerned?

`noCheck` for genesis?

[2022-05-11 11:23] lubtd commented on #2199
If it's checking the chain can be started, I would argue that we don't need this option anymore since with caching the build process we no longer have the delay issue (building the chain every command)

[2022-05-11 13:26] ilgooz opened #2473 "cmd(chain/serve): support serving a multi-validator architecture"
[Learn more about the bounty on Ignite's Discord](https://discord.com/channels/893126937067802685/946155736289910894/973945146020343848).

Currently, `ignite chain serve` command will only initialize and start a single validator during development. The information about the chain and configuration about the validator is derived from chain's config file (AKA `config.yml`).

We would like to optiona

[2022-05-11 17:29] twisstosin commented on #2131
thanks for pointing that out, shouldn't that be in a new issue/pr though @ilgooz? @RaulBernal I'll look into the upgrade function to create storage fields as well.

[2022-05-13 15:16] vinbrucelu commented on #2470
@ilgooz I am interested in this issue(together with the issue #2473 as well). I am not sure if you have assigned it to anyone.

[2022-05-14 18:29] ilgooz opened #2481 "embed root cache files into CLI"
We'll be implementing a shared cache through https://github.com/ignite-hq/cli/pull/2445.

This will also make `ignite s chain` faster. But it'll be faster starting from the second time running it. (there won't be cache files before)

To make it faster for the very first use of `ignite s chain` cmd in a machine, we could embed a root cache (a clean cache dir created after running `ignite s chain` c

[2022-05-14 18:35] #2467 closed

[2022-05-14 18:42] ilgooz commented on #2470
Hey, great to hear that!

Can you please check out the participation rules, and show interest on a thread by sharing your past experiences in Go and other work?

https://discord.com/channels/893126937067802685/946155736289910894/948148181114421318

Thank you. 🙏

[2022-05-15 08:25] ilgooz commented on #2470
Hey Vincent @vinbrucelu! Nice to see you around here!

You have been assigned to this issue, we're eager to see your solution! 🎊

[2022-05-15 10:57] #2131 closed

[2022-05-16 05:55] SteveDaMonsta opened #2482 "Project name commands not working"
Clean install on WSL2. Followed docs tutorial twice with same results. Commands for project are not being found.

Steps:
ignite scaffold chain checkers
cd checkers
ignite chain serve
checkersd status

Output:
checkersd: command not found

[2022-05-16 07:09] fadeev commented on #2482
`checkersd ` binary is installed by default in `~/go/bin`. If your shell can't find the binary, it's because GOPATH isn't in your `$PATH`. Please, refer to https://go.dev/doc/gopath_code#GOPATH

[2022-05-16 07:09] #2482 closed

[2022-05-16 08:52] fadeev opened #2483 "publish: the `--shares` flags sets incorrect number of shares"
[code]

https://api.nightly.starport.network/tendermint/spn/campaign/campaign/15

[code]

[2022-05-16 10:03] #2468 closed

[2022-05-16 12:12] ilgooz opened #2488 "add functionality to `cosmosclient`to query-save txs-events"

[2022-05-16 16:52] ilgooz opened #2489 "add `node` command set w/ token transfer functionality"
[Learn more about the bounty on Ignite's Discord](https://discord.com/channels/893126937067802685/946155736289910894/975809524151763039).

Introduce a new command set called `ignite node`.

Implement these commands under:
* `ignite node query bank balances` - we could set `q` as an alias to `query`
* `ignite node tx bank send`

Please note that we need to define their respective top level commands

[2022-05-16 17:37] #2461 closed

[2022-05-16 17:57] ilgooz commented on #2489
I believe in reusability it could be great if can be used by I just have these concerns:
- SDK does not fully comply semver. This could potentially create problems in the long run if lens' SDK version do not match with what we use and if there are breaking changes in between
- We need to be able to attach `ignite account` to it. (CLI's cosmosclient is totally compatible with that)
- We need to be

[2022-05-16 18:00] vinbrucelu opened #2494 "[doc issue]: raw_log: 'insufficient fees; got: required: 16000000000stake: insufficient fee'"
**Describe the bug**
After following the instruction to create the blog here: https://docs.ignite.com/guide/blog/, I ran into the following message executing "blogd tx blog create-post foo bar --from alice":
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go as in "https://docs.ignite.com/guide/blog/".
2. Run the command "blogd tx blog create-post foo bar --from alice"

**Please provi

[2022-05-16 18:39] bjaanes commented on #2489
Yeah, might be that it won't work directly to reuse. And/or that it might add dependencies that can cause problems down the line. Worst case scenario, maybe there are some things they've done we can borrow/get inspiration for to do the same things they are :)

[2022-05-16 18:58] ilgooz commented on #2494
We shipped a fix with the latest release. Please get it from here: https://github.com/ignite-hq/cli/releases/tag/v0.21.2

You may need to wait a bit for the binaries to be shipped.

Please free feel to reopen if the issue remains.

[2022-05-16 18:58] #2494 closed

[2022-05-16 20:37] vinbrucelu commented on #2494
I still see this issue.
My source code is here: https://github.com/vinbrucelu/blog

[2022-05-16 21:43] vinbrucelu commented on #2494
ok. issue was gone after running "rm $(which ignite)" before running the ignite commands.

[2022-05-16 22:59] #2483 closed

[2022-05-16 23:01] ilgooz opened #2502 "support decimals in `n chain publish --shares`"
[code]

[2022-05-17 01:30] SyberSin opened #2503 "Vue frontend blank display"
Following ignite tutorial and vue frontend shows blank page. Fresh install of ignite and npm 16.

Steps:
ignite chain serve
cd vue
npm install
npm run serve

output:

When navigating to localhost:5000, the page is blank.  When navigating to localhost:8080 the page fails to open and cannot connect to localhost.

Also tried these steps:
npm run build
npm run dev

I still get a blank page at localhos

[2022-05-17 14:19] #1993 closed

[2022-05-17 14:33] ilgooz opened #2507 "cmd: implement `ignite n rewards release`"
Deprecate the existent `ignite n client create` by moving its functionality do this command.

[code]

### Flags to be implemented:
* create-client-only: only create the client on SPN and exit the command
* from: account for SPN
* testnet-from: account for testnet
* testnet-rpc

### Behaviour
* No need to use a `relayer.yml` file.
* Do not create the client id if it's already created
* Do not setup

[2022-05-17 14:36] ilgooz opened #2508 "cmd(network): `rewards release` should auto detect RPC address"
for the target chain.

If the `--target-rpc` is already provided, we can use that and skip the auto detect process.

Auto detection algorithm should the `Status()` func in peers from the peer list one by one until we find one that is responding properly and use that RPC address.

[2022-05-17 14:38] ilgooz opened #2509 "cmd(network): add `--amount` flag to `chain publish`"
And add account with the given amount into Genesis for the coordinator to be later used in the relayer.

[2022-05-17 14:46] #2289 closed

[2022-05-17 16:26] ilgooz opened #2511 "proto cache should break when cosmosgen options are different"
If cosmosgen is initialized with different Options, we should consider breaking the cache for proto which means, initialization options should be part of the cache key.

cosmosgen might be initialized differently by a user given configuration in the config.yml file.

the current cache system breaks the cache when user manipulates the generated code or if there was no code generation before for cer

[2022-05-17 16:57] vinbrucelu commented on #2470
I plan to implement this bounty in multiple steps.
The Step 1 is to refactor the current package of chainconfig, to convert the current config struct into v0 version, create the interface for Config with the necessary methods, and replace all the existences of Config with the newly created interface.

[2022-05-17 17:44] #2383 closed

[2022-05-17 17:49] ilgooz commented on #2489
Hey hey! Thank you for participating, you have been assigned to this issue.

Pretty exciting that we'll have a new command set! :star_struck:

cc @okwme

[2022-05-18 09:08] #2410 closed

[2022-05-18 12:05] vinbrucelu commented on #2470
@ilgooz The step 1 has been accomplished in the PR I opened.
In the 2nd step, I plan to add the schema of Version 1 and implement the conversion from v0 to v1. Tests will be added.

[2022-05-18 13:13] lubtd commented on #2488
@ilgooz what is the purpose of this task?

[2022-05-18 14:19] lubtd opened #2514 "`network chain publish`: publishing a mainnet also publishes another chain"
**Describe the bug**
It seems using `network chain publish` and specifying `--mainnet`, also publish another testnet

**To Reproduce**
Steps to reproduce the behavior:

[code]

Chain `2` should not be created
[code]

**Please provide the version output**
 - `ignite version`: development

[2022-05-18 14:29] lubtd opened #2515 "`ignite network chain prepare` message is ambiguous when launch is not triggered and `--force` is not provided"
Running `prepare` when the launch is not triggered:
[code]

IMO the message is ambiguous because the chain is never launched before `prepare`

I would suggest to change to the following:
- `chain launch has not been triggered yet. use --force to prepare anyway`
or
- `chain is not launching yet. use --force to prepare anyway`

[2022-05-18 15:15] lubtd commented on #1811
After some investigations, this can be simply managed in SPN node without adding complexity

No changes are made to launch a mainnet, the same query will returns the genesis account from the campaign mainnet accounts https://github.com/tendermint/spn/issues/804

[2022-05-18 15:30] jeronimoalbi commented on #2503
It is working for me following these steps:
- ignite scaffold chain github.com/username/hello
- ignite chain serve
- cd vue
- npm install
- npm run dev
- open http://localhost:3000/

Using npm version `8.5.5`.

Build info:
[code]

When I was trying to reproduce I had some issues running the app build as follows:
- npm run build
- npm run serve
- open http://localhost:5000/

The app worked in Firef

[2022-05-18 15:35] bjaanes commented on #2489
@ilgooz I was not able to find a reliable way to get the bech32 prefix through rpc. The closest I got was querying auth accounts which prints those addresses. I am not sure if this command also list validator accounts as well and would potentially be a bit clumsy.

I'm guessing maybe just having a flag is the easiest (and safest) option. If you prefer fetching accounts and parsing them I don't min

[2022-05-18 21:46] Spoiledpay opened #2519 "Build chain release for windows."
How or where is an instruction for compiling the executable for windows using WSL Linux. I managed to compile for Linux, Arm and MAC generating the builds. But in the case of windows does not generate?

ignite chain build --release -t linux:amd64 -t darwin:amd64 -t darwin:arm64

[2022-05-19 03:18] Njerschow opened #2521 "Unable to scaffold chain on mac"
**Describe the bug**
When trying to scaffold chain on mac I see that it is trying to scaffold chain but then after a while I get:
[code]
(full output below)

**To Reproduce**
Steps to reproduce the behavior:
1. Use a mac with OSX 12
2. run `ignite scaffold chain github.com/alice/checkers`

**Please provide the version output**
 - `ignite version`: tried with 17, 20, and 21 - always happens
 - `go

[2022-05-19 08:44] jeronimoalbi commented on #2521
Thanks @Njerschow 👍

What do you get in the terminal when you execute?
[code]

[2022-05-19 10:43] ilgooz commented on #2489
@bjaanes yep I think a prefix flag is totally fine and by default it would be cosmos.

[2022-05-19 12:05] ilgooz commented on #2519
We don't have support for Windows yet.

[2022-05-19 15:06] ilgooz commented on #2438
We already have,  `--spn-faucet-address`. Is there an issue with that @Pantani?

[2022-05-19 18:42] vinbrucelu commented on #2470
I did not find any existing definitions for the following structs in cosmos/cosmos-sdk: genesis, app, client and config.

The only thing I found is there is a struct defined for GenesisDoc in tendermint/tendermint, which looks like:
[code]

However, they are used to parsed the json. We have to change it in order to parse them in yaml format.
We probably need to define them in the CLI.

[2022-05-19 18:57] ilgooz commented on #2470
We can in-fact leave defining structs for Genesis and other similar ones to the last. This is a bit fragile and their structure may change between version.

If there no reliable ways of handling them defined in the Tendermint Core, or SDK we may in fact give up on the idea of defining structs.

[2022-05-20 02:15] SteveDaMonsta commented on #2503
I can confirm the issue was safari.
Safari is giving me the following error:

SyntaxError: Invalid regular expression: invalid group specifier name
promiseReactionJob

Downloaded Chrome and now front end is working but only with npm run dev.
npn run serve is giving me the same HTTP 403 error on chrome.

[2022-05-20 07:06] jeronimoalbi commented on #2503
Thank you @SteveDaMonsta 👍 , I will inform about this issue to the documentation team.

[2022-05-20 07:58] RaulBernal opened #2524 "Unsafe-reset-all doesn't get the proper path"
**Describe the bug**
When I want `unsafe-reset-all` App make it but get a bad folder path

**To reproduce**
Steps to reproduce the behavior:
1. Perform the command: `bcnad tendermint unsafe-reset-all`
This is the output:
[code]
As it can see, paths doesn't include the `App` folder

**What version are you using?**
[code]

[2022-05-20 08:00] RaulBernal commented on #2524
You can bypass this bug using flags:
[code]

[2022-05-20 08:13] RaulBernal commented on #2524
Some partners are experimenting this bug with other chains that are using Tendermint v.0.34.19 so, maybe you can close this Issue

[2022-05-20 12:44] bjaanes commented on #2489
@ilgooz I've got this working fairly well, but I wanted to know about the behavior of the cli vs a typical chain cli command. Normally, when sending txs, the cli asks for confirmation before sending broadcasting the actual transaction. Do we want to do the same? It looks like there is not implemented anything like that for the network commands?

There is also a lot of flags for most tx commands, d

[2022-05-20 13:45] #2524 closed

[2022-05-20 16:11] Njerschow commented on #2521
I get this:
[code]

[2022-05-20 16:49] Njerschow commented on #2521
Oh! when I set
[code]
everything works fine!

Thanks @jeronimoalbi

[2022-05-22 00:36] larry0x commented on #2246
yes plz

[2022-05-22 14:12] OldaProjects opened #2526 "unable to execute sudo ignite chain serve"
sudo ignite chain serve
Cosmos SDK's version is: stargate - v0.45.4

🛠️  Building proto...
📦 Installing dependencies...
🛠️  Building the blockchain...
cannot build app:
error while running command go build -o /home/olfa/go/bin/authodelegd -mod readonly -ldflags -X github.com/cosmos/cosmos-sdk/version.Name=Authodeleg -X github.com/cosmos/cosmos-sdk/version.AppName=authodelegd -X github.com/cosmos/c

[2022-05-23 08:28] ilgooz commented on #2489
I think we can keep it simple for now, and directly broadcast the TX without a confirmation. But as you say, we can add a flag to set the mode to only print the TX I think.

We can have the gas and fees flags but no need for broadcast type.

I think we can just define the flags in the CLI, they may not necessarily follow the same signature with SDK's.

Ledger support will be added later to the `ig

[2022-05-23 15:33] vinbrucelu commented on #2470
@ilgooz I have got a few questions regarding the default value for the Config.
In the old v0 version, fields like RPC, P2P etc, are saved in the struct Host:
[code]

In v1, they will be saved in the validator. However, we support a list of validators in the config, do we save the default information for RPC, P2P, etc in the first item of validator in the list?

And, how do we merge the default val

[2022-05-23 17:30] bjaanes commented on #2489
@ilgooz That makes sense! I was wondering if it would be OK to add a flag to the `ignite account` commands to be able to specify the home folder of the keyring? For instance the typical `keys` flag of `keyring-dir`? The reason I want this is to be able to create accounts during testing and cleaning them up. If you have a better option to do this, please let me know.

[2022-05-23 18:03] ilgooz commented on #2489
@bjaanes if you mean unit testing (rather than manual testing), cosmosaccount also supports in memory backend.

[2022-05-23 18:13] bjaanes commented on #2489
Sorry, I should have been more clear. I meant for integration testing. In memory doesn't really work for that.

[2022-05-23 18:18] ilgooz commented on #2489
Makes sense! Then I think we can make it a public flag even but better if we set its default to `cosmosaccount. KeyringHome`. 🙏

[2022-05-23 18:20] ilgooz commented on #2489
Btw, seems like this new flag should be added to all commands that use `ignite account`
* `ignite relayer`
* relevant commands after `ignite network`
* `ignite node`
* `ignite account`

[2022-05-23 19:28] #2521 closed

[2022-05-23 20:07] ilgooz commented on #2503
@marinhoarthur @barriebyron

[2022-05-23 20:48] gjermundgaraba opened #2530 "add `authz` command set"
Authz is one of those things that creates a whole new set of use cases on Cosmos chains. Validators provide auto-compounding services. You can give your hot wallet permissions to vote with the stake from your cold wallet. The list goes on.

One of pains when using Authz with CLI's in a multi-chain world is that you have to maintain multiple binaries and keyrings (one for each chain).

If the ignit

[2022-05-24 02:38] houshengbo commented on #2470
Thx, only one thing to clarify:
For example, if there are two validators in the config.yaml, with both of them having no config or app defined.
We assign 0.0.0.0:26657 to the rpc for validator[0]. By incrementally, do we assign 0.0.0.0:26658 to the rpc for validator[1]?

[2022-05-24 07:09] ilgooz commented on #2470
We assign 0.0.0.0:26657 to the rpc for validator[0]. By incrementally, do we assign 0.0.0.0:26658 to the rpc for validator[1]?

Yes

In this case, it is possible that rpc port in validator[1] can equal to other port number in validator[0], though it is not equal to the rpc port in validator[0]

You're right. This is specially case for the grpc/grpc_web, rpc/p2p ones. In this case, what if we do no

[2022-05-24 16:01] ilgooz commented on #2156
Hey @jiujiteiro, you have been assigned to this bounty.

We're eager to hear that you want to contribute back to the Ignite CLI! 🙌 🎉

Can't wait to see your solution!

[2022-05-24 16:24] jiujiteiro commented on #2156
@ilgooz Thanks!

[2022-05-24 18:57] vinbrucelu commented on #2470
@ilgooz So far, the pkg chainconfig has been refactored into the structure, that implemented the migration system. Config yamls at lower versions are able to migrate to the next version or the latest version. Config interface is added. both v0 and v1 funstion at this time.

V1 is now defined and able to use. V1 config is defined as in the design. V0 is able to converted to v1.

Test cases are adde

[2022-05-25 09:34] Frederic-Zhou opened #2532 "There seems to be a little bug in the documentation of ignite create blog comment"
at https://docs.ignite.com/guide/blog/comment-blog.html

After create first post ,the post.id=0 ,

because

[code]
at  function  `AppendPost`

then create first comment in the document:
`blogd tx blog create-comment 0  Uno "This is the first comment" --from alice`

`always return error`

because at the function `CreateComment`
[code]

[2022-05-26 06:22] Pantani opened #2534 "relayer: use `tcp://` prefix into the RPC url stuck the UI"
If you use `tcp://0.0.0.0:26657` instead `http://0.0.0.0:26657` stucks the relayer CLI UI

[code]

[2022-05-26 18:44] vinbrucelu commented on #2470
I have defined the struct for gentx, and retrieve the fields from it in IssueGentx.
@ilgooz Could you review the PR please?
Let me know if there is anything incorrect or missing.
I think I have got everything covered for this issue.

[2022-05-27 09:31] akcgjc007 commented on #2388
My internet connection was a little bit unstable. It took around 6 minutes for me.

[code]

[2022-05-27 20:11] lxgr-linux opened #2536 "`ignite g vuex` does not generate cosmos.bank.v1beta1 messages anymore"
**Describe the bug**
`ignite g vuex` does not generate cosmos.bank.v1beta1 messages anymore.
The `cosmos.bank.v1beta1` folder is missing in `vue/src/store/generated/cosmos/cosmos-sdk`.

**To reproduce**
Steps to reproduce the behavior:
1. create a new blockchain
2. run `ignite g vuex`

**What version are you using?**

Provide the output of the `ignite version` command.
[code]

[2022-05-28 10:13] ilgooz commented on #2536
cc @jeronimoalbi @bjaanes

[2022-05-28 15:22] collinpowell opened #2537 "Scaffolding error"
cannot build app:

        cannot build app:

        error while running command /var/folders/x0/k73clv9n2nn4h_mc8l2kgz1m0000gn/T/protoc3698256156 -I /var/folders/x0/k73clv9n2nn4h_mc8l2kgz1m0000gn/T/82698241 --plugin /var/folders/x0/k73clv9n2nn4h_mc8l2kgz1m0000gn/T/protoc-gen-ts_proto -I /Users/user/Desktop/Ignite/hello/proto -I /Users/user/go/pkg/mod/github.com/cosmos/cosmos-sdk@v0.45.4/proto -I

[2022-05-28 15:28] #2537 closed

[2022-05-28 15:29] collinpowell commented on #2537
echo $NODE_OPTIONS = "" #2521 solves issue

[2022-05-28 21:07] jsimnz commented on #2473
Hi @ilgooz I expressed interest on this bounty issue on the discord (cc'd you there in a dedicated thread) a couple of days ago. Just wanted to checkin directly on this thread for visibility.

[2022-05-29 11:11] ilgooz commented on #2473
Hey John! Happy to see you being interested on this one! This is such an essential and widely requested feature. Can't wait to see your solution!

[2022-05-29 13:11] ilgooz commented on #2473
By the way, we should also update the [config.yml reference](https://github.com/ignite-hq/cli/blob/develop/docs/kb/config.md).

[2022-05-29 17:47] Starblue0 commented on #1804
Did you figure it out yet? Just wondering

[2022-05-29 20:57] jsimnz commented on #2473
Will do!

As for the config stuff, should I incorporate the changes from #2470 before the related PR is merged, or should I wait till the final review is ready.

[2022-05-30 07:52] jeronimoalbi commented on #2536
@lxgr-linux I failed to replicate the issue, maybe there is some other step involved to replicate ?

I tried with a single "tango" app name and also with the URI "github.com/jeronimoalbi/tango".
Before scaffolding I removed the cache DB with `rm -f $HOME/.ignite/ignite_cache.db`.

I'm attaching a picture with the steps I followed.

![Screenshot 2022-05-30 at 09 38 13](https://user-images.githubuse

[2022-05-30 08:15] lxgr-linux commented on #2536
Hello, that's actually very interesting, because i just tested this with a new chain and the bank module got generated.
But now I wonder, what could possibly lead to this behavior on my own chain.
What influences which modules are getting generated, since this definitely worked in versions before. I also realized that crisis, gov, mint and staking are missing too.

[2022-05-30 08:21] ivanovpetr opened #2538 "Avoid direct writes to `os.Stdout` and `os.Stderr` inside of `nodetime` package"
https://github.com/ignite-hq/cli/blob/f5edb854c6bfc1f2a37a9b766294a41941a6a144/ignite/pkg/nodetime/programs/ts-relayer/tsrelayer.go#L60-L60

_Originally posted by @Pantani in https://github.com/ignite-hq/cli/pull/2510#pullrequestreview-986357227_

[2022-05-30 08:52] lxgr-linux commented on #2536
I found out why this happens. It's because we're using wrappers around the bank, gov, etc. `AppModuleBasic`s to implement custom `DefaultGenesis` methods on them.

[2022-05-30 09:07] bjaanes commented on #2489
@ilgooz PR ready to go: https://github.com/ignite-hq/cli/pull/2539

[2022-05-30 09:13] lxgr-linux commented on #2536
I solved this by putting my desired default genesis data in the config.yml file, and I'm sorry to have wasted your time.

[2022-05-30 09:13] #2536 closed

[2022-05-30 09:21] jeronimoalbi commented on #2536
No problem 👍. Actually thank you @lxgr-linux for engaging with the community and reporting a possible issue !

[2022-05-31 12:21] lumtis opened #2544 "Network `publish`: `--shares` option doesn't work"
**Describe the bug**
[code]
Should allocate 10% of the `foo` share for the published testnet as rewards. Meaning 10% of the vouchers for `foo`
should be put in reward pool for the testnet

The command doesn't set the rewards for the testnet

**To reproduce**
Steps to reproduce the behavior:

Start a local `spn`
[code]

Publish the chain with shares
[code]

The chain has no reward
[code]
[code]

**

[2022-05-31 20:45] rootulp opened #2545 "ignite scaffold message errors with invalid checksum"
**Describe the bug**

I attempted to scaffold a new message and encountered the error `invalid checksum`

**To reproduce**
1. Install latest Ignite CLI (at the moment v0.21.2)
2. Attempt to scaffold a message, observe error

[code]

**What version are you using?**

[code]

**Host:**
macOS Monterey Version 12.4
Chip: Apple M1 Pro

This error does not reproduce on my machine for Ignite CLI v0.20.4

[2022-06-01 08:12] lumtis opened #2546 "`ignite network chain show genesis` fails if chain is not initialized"
**Describe the bug**
`ignite network chain show genesis [launch-id]` allows to show the current genesis of a chain being launched from its launch ID

If the chain is not initialized or the chain binary is not built, the command will fail. Which is normal since generating the current genesis relies on the chain binary but the error shown is not informative.

I think the correct solution would be to

[2022-06-01 08:33] lubtd commented on #2546
Strange, it seems `ignite network chain show genesis` doesn't work again after `ignite network chain join` is run

[code]

[2022-06-01 08:53] lubtd commented on #2546
Hold-on, seems the error comes from somewhere else

I was able to run `ignite network chain show accounts 4`

While I didn't have initialized this chain

[2022-06-01 09:18] lubtd opened #2547 "`ignite network chain show genesis` doesn't generate the correct genesis if the chain launch is not triggered"
**Describe the bug**
If a chain launch with a launch ID `n` on `spn` has not been  triggered, `ignite network chain show genesis` will not show the correct genesis. The generated genesis always contains an account and a gentx. It seems that it correspond to the genesis generated by the `init` command for local testing
`ignite network chain show genesis` should show the current state of the genesis

[2022-06-01 10:52] #2509 closed

[2022-06-01 11:39] fadeev commented on #2545
Can't reproduce.

<img width="829" alt="Screen Shot 2022-06-01 at 15 38 51" src="https://user-images.githubusercontent.com/332151/171395984-168f87c9-2ad0-4d0e-83d4-6463f3edfb27.png">

macOS Monterey Version 12.4
Chip: Apple M1 Pro

[2022-06-02 07:59] lubtd opened #2548 "`network`: remove `MainnetVestingAccount`"
Remove every usage of `MainnetVestingAccount` in network commands since this structure is removed from `spn`

[2022-06-02 08:56] lava17 commented on #1674
For anyone looking i found this while trying to setup **go test** on **github actions**
the test includes running **ignite** and always got the error:
**object not found**
with no other explanations...
happily i found @ntindle comment :pray: Thank You!

**In go.yml**
**Before: (object not found error)**
[code]
**AFTER (WORKING!):**
[code]
so make sure you're using  actions/checkout@v3
AND add with

[2022-06-02 09:07] fadeev commented on #1674
@ilgooz should we reopen this issue?

[2022-06-02 09:27] lava17 commented on #1674
Don't think so :)
The issue was not related to my problem,
I did find the solution to my problem here (google got me here for searching "**github actions ignite object not found**")
so I wrote down how to solve it in case anyone else is using ignite with github actions (i'm new to gha)
They'll know to use checkout@v3 and fetch-depth: '0'
:heart:
 (_maybe reference some docs to help use ignite chai

[2022-06-02 10:20] jeronimoalbi commented on #2545
I also failed to reproduce the issue:
[code]

I am wondering if it might have something to do with the newer macOS version (12.4), or maybe with a lack of disk space.

Assuming you already tried scaffolding a new chain from scratch, there is a chance that the checksum error might originate in the Git repository, it is a long shot but maybe you can check that you don't get errors in your chain app

[2022-06-02 12:59] #2514 closed

[2022-06-02 13:05] jeronimoalbi commented on #2503
@marinhoarthur the tutorial docs were changed so the app is run in development mode. Regarding serving a build I am not sure if there is an [issue](https://github.com/ignite-hq/cli/issues/2503#issuecomment-1130170598) or we just need a different setup for that.

[2022-06-02 14:58] rootulp commented on #2545
I observed this error in a clone of https://github.com/b9lab/ida-exercise-week-2-student-repo

No errors observed here:
[code]

[2022-06-02 21:08] Pantani opened #2550 "feat(network/genesis): add cache for genesis from URL"
as we discussed before, we can add a cache for the genesis from URL:

https://github.com/ignite-hq/cli/pull/2228#discussion_r887847299

[2022-06-03 17:25] jiujiteiro commented on #2156
@ilgooz it looks like ibc-go does not have an official release with support for SDK 0.46 out yet. There is a branch they plan on releasing soon. See this thread here:

https://github.com/cosmos/ibc-go/pull/1455#issuecomment-1144723101

What would be the preferred path for Ignite? Would we want to use a custom ibc-go branch to make this change? For instance:

https://github.com/cosmos/ibc-go/tree/c

[2022-06-05 08:49] fadeev opened #2553 "Release action doesn't release a `darwin-arm64` binary for M1"
**Describe the bug**

When a chain is pushed to GitHub, it doesn't release a `darwin-arm64` binary.

**To reproduce**

Steps to reproduce the behavior:

1. Scaffold a new chain
2. Push it to GitHub https://github.com/fadeev/mars
3. Wait for the action to complete https://github.com/fadeev/mars/runs/6743775720
4. Try installing the binary

[code]

**What version are you using?**

[code]

[2022-06-06 09:00] jsimnz commented on #2473
There is an overload of terms in the config struct and in the requirements for this PR.

Originally there is a `config.Client` which handles client code generation (OpenAPI, Vuex, and Dart), additionally there is `init.Client` which handles `config/client.toml` values. This may lead others (def not me :) ) to confusion.

Should this be addressed in this issue/PR or left as is?

[2022-06-06 12:14] fadeev opened #2557 "`init`/`join` UX improvements"
Right now we're prompting users to provide an amount for self-delegation in `init` and a token amount to get in the `join` command.

For **testnets**, however, from a UX point of view, it's easier to use a default value, instead.

[code]

After the `genesis.json` is ready in the data directory `init` should:

* Get the denom from `$DATA/config/genesis.json` → `app_state.staking.params.bond_denom`

[2022-06-06 12:59] ilgooz commented on #2553
@jeronimoalbi I think we just need to set the relevant flag to also create this binary in the template actions

[2022-06-06 13:33] ivanovpetr opened #2558 "Research possible `config.toml` optimisations for networks with hidden validators"
If spn network is launched with validators with hidden peer. The network relies on validators who have public peers. If they go offline, network is stopped. It would be nice to tweak config.toml p2p of the chain to stabilize it's somehow

[2022-06-06 14:21] ilgooz opened #2559 "extend the functionality of `pkg/jsonfile` to support YAML and TOML"
We need to find proper packages to have support for them an also rename `pkg/jsonfile` to something generic.

One of the use case for it is in the chain service: https://github.com/ignite-hq/cli/blob/b2ccd8a0af9233ace495be1d8dd4771ae39e88e3/ignite/services/chain/plugin-stargate.go#L74-L79

[2022-06-06 14:27] ilgooz commented on #2473
Hey, I believe they should be independent for now because we need to make a refactoring in the config migration PR.

I propose that we just update the Config struct in the multi-validator support PR in the way how it has to be for the feature.

We can do the wiring later to benefit from config file migrations, it could be done later once we merge both PRs.

[2022-06-06 18:58] #2502 closed

[2022-06-06 19:00] ilgooz opened #2560 "cmd/network/request: try to find a way to auto detect addr prefixes"
so we wouldn't need an `--address-prefix` flag.

related to https://github.com/ignite-hq/cli/pull/2541#discussion_r885227198.

[2022-06-06 19:11] #2219 closed

[2022-06-06 19:16] ilgooz commented on #2414
We now also show statuses of the requests, so coordinator will able to differentiate requests that does not have "pending" status.

Right now by default we list all the requests but we could change this behavior in the future to only list pending ones (if makes sense) and have a flag to filter by status (pending, rejected, approved and maybe "all").

SPN right now doesn't support filters. cc @lubt

[2022-06-06 19:19] ilgooz opened #2561 "cmd/network/request/list: add support for filtering by status"
We might my default list all requests and add a flag to filter by one of these: pending, approved, rejected.

This feature requires adding filtering support in SPN. tracked by: https://github.com/tendermint/spn/issues/833

related to https://github.com/ignite-hq/cli/issues/2414.

[2022-06-06 19:19] ilgooz commented on #2414
closing in favor of https://github.com/ignite-hq/cli/issues/2561

[2022-06-06 19:19] #2414 closed

[2022-06-07 12:20] ilgooz commented on #2156
@jiujiteiro Yes, I think we can use the branch for now.

[2022-06-07 14:18] PudgeKim opened #2562 "Symbol not found error when entering scaffold command"
I installed ignite cli using the command below.
`curl https://get.ignite.com/cli@v0.21.2\! | bash`

my ignite version

Ignite CLI version:	v0.21.2
Ignite CLI build date:	2022-05-16T18:58:45Z
Ignite CLI source hash:	83cee....
Your OS:		darwin
Your arch:		arm64
Your go version:	go version go1.16.5 darwin/arm64
Your uname -a:		Darwin kanetla-ui-MacBookAir.local 20.5.0 Darwin Kernel Version 20.5.0: Sa

[2022-06-07 18:48] Pantani opened #2565 "feat: avoid scaffold changes if user canceled the command"
Ignite scaffold changes the code if the command is done or not. The command will apply some changes if it throws an error or the user cancels the scaffold. Consider running a dry run in everything in copy the content to the correct folder, for we can avoid scaffolding some dirty if the user canceled

[2022-06-08 01:18] sid-85 opened #2567 "relayer connect error"
error: Broadcasting transaction failed with code 3 (codespace: tendermint-client). Log: trusting period cannot be zero: invalid trusting period

how?

[2022-06-08 01:57] #2567 closed

[2022-06-08 01:58] sid-85 commented on #2567
done

[2022-06-08 09:50] lava17 opened #2568 "Advice On Upgrading Project from Starport to Ignite"
Hi there, first of all thanks for an amazing technology!
Currently working on a project which uses starport 0.19.2 and working fine..
my next mission is to upgrade our project to latest ignite version

[code]
also have ignite (should probably update to 0.21.2)
[code]

naively running ``` ignite chain serve -v ```  results in error
[code]
... kindof stumbed.. googling around didn't fruit any workin

[2022-06-08 10:18] lava17 commented on #2568
I've found https://docs.ignite.com/migration/
![image](https://user-images.githubusercontent.com/103566645/172591498-acd6a0e6-2b6a-4f8b-87fa-04490829aca7.png)
theres no mention of 0.21.2, but ill start with going up the versions..

it is not clear to me how to upgrade Cosmos SDK, originally it came packaged in ignite
#### > Q: is it possible to keep the starport 0.19.2 binary working with cosmos 4

[2022-06-08 12:41] ilgooz opened #2570 "services/network: add unit tests for rewards"
Needed for https://github.com/ignite-hq/cli/pull/2516.

[2022-06-09 21:52] ilgooz opened #2574 "upgrade ts relayer version"
https://www.npmjs.com/package/@confio/relayer

and other relevant packages if needed, e.g. cosmjs

please test the `relayer` and `rewards release` cmds after

[2022-06-10 11:17] lubtd opened #2580 "`ignite s module bar --ibc` invalid `module.go`"
It seems some method interfaces in the template are outdated from IBC upgrade

**To reproduce**

[code]

[code]

[2022-06-10 11:39] ilgooz opened #2581 "ci: investigate reliability of integration test workflows"
In a previous commit tests do not pass but in the last commit they do, see:
![image](https://user-images.githubusercontent.com/6023117/173056714-38fa3f2f-c8aa-4e07-a658-d75215c4f847.png)

Looks like in the last commit tests are skipped, maybe because cached, but marked as green, see the full logs:
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/6023117/173056810-188631

[2022-06-10 12:12] #2580 closed

[2022-06-10 14:20] migueldingli1997 opened #2587 "Cannot import ibc-go/v2 proto messages"
**Describe the bug**
Trying to import proto messages from "ibc/core/client/v1/client.proto" into one of the proto files of my newly scaffolded 'test' chain and ran into a 'cannot build app' error:

[code]

**To reproduce**
Steps to reproduce the behavior:
1. Scaffold new chain
2. Open `genesis.proto` and add `import "ibc/core/client/v1/client.proto";` import
3. Run `ignite chain serve`

**What ver

[2022-06-12 21:57] evan-forbes opened #2589 "The bank and account keepers are added to every scaffolded module"
**Describe the bug**
The bank and account keepers are always added to new modules.
can be seen [here](https://github.com/tendermint/spn/blob/f5fa84f1fdbe4ef3c6c54972f8c3aef456b841cd/x/profile/module.go#L105-L106). probably related to #2205

**To reproduce**
Steps to reproduce the behavior:
1. scaffold a module

**What version are you using?**
v0.22.1

Provide the output of the `ignite version` com

[2022-06-13 08:02] fadeev commented on #2589
As far as I remember this was added to enable simulation testing.

https://github.com/ignite-hq/cli/pull/1731/files#diff-b520d76bbf3aad4848b9534ae22d947b85abf527deaaac9b4b405cc4c8e2972e

https://github.com/ignite-hq/cli/pull/1731

[2022-06-13 09:42] ilgooz commented on #2246
We made a new release that includes IBC upgrade, please get the latest version. cc @drforte @joychain @larry0x

[2022-06-13 09:42] #2246 closed

[2022-06-13 09:54] #2589 closed

[2022-06-13 09:56] evan-forbes commented on #2589
Ahh I see 🙂

Thanks for the info!

[2022-06-13 11:19] ivanovpetr commented on #2581
It seems it this steps were skipped because PR was closed at the moment when they were running.

[2022-06-13 14:14] migueldingli1997 commented on #2587
Looks like it's the same problem, you're right. This issue can be closed then, and I can  follow activity on the other issue.

[2022-06-13 14:51] ilgooz commented on #2587
Thank you!

[2022-06-13 19:35] #2548 closed

[2022-06-13 20:02] SpiralOutDotEu commented on #2162
Indeed, there is an issue in docs.
I used `msg.creator` in `msg_server_submit_scavenge.go` and it works fine.
[code]

[2022-06-14 01:50] vincentwschau opened #2590 "Methods with generic types break while building"
**Describe the bug**
Having a method with a generic type in the directory where `ignite chain build` or `ignite chain serve` is run leads to the following error:
[code]

**To reproduce**
Steps to reproduce the behavior:
1. Add any generic struct with methods.
For example:
[code]
2. Run `ignite chain build` or `ignite chain serve`.
3. Observe error.

**What version are you using?**

Provide the out

[2022-06-14 03:51] faboweb commented on #2562
+1

[2022-06-14 06:19] ilgooz commented on #2590
@vincentwschau is it possible for you to share your source code so we can fix it?

[2022-06-14 06:20] ilgooz commented on #2562
Can you please upgrade your Xcode and if it doesn't work, your MacOS and please let us know about the results?

[2022-06-14 07:23] ilgooz opened #2591 "INIT: add code style guideline"
_In progress_

Create a new .md file with the subjects below:

- Optional funcs -optionally with Getters to prevent access to fields to avoid manipulation. e.g.: cosmosmetrics pkg
- Group types, vars, consts only when they are related, do not create a single block with all definitions inside
- Avoid using a package name like `utils`. instead use spesific names, e.g.: cosmosutil, cosmosanaysis.
- A

[2022-06-14 09:15] ilgooz commented on #1285
@fedekunze the latest release [v0.22.1](https://github.com/ignite-hq/cli/releases/tag/v0.22.1) now has an advanced caching system, works pretty fast now and it'll rebuild the modified proto packages (SDK modules) only.

You can observe the change in all Ignite CLI commands that requires to build from proto files, e.g.: `chain serve/build/generate`

[2022-06-14 13:39] vincentwschau commented on #2590
@ilgooz If you follow my steps to reproduce with just a basic scaffolded chain, you should be able to reproduce the error. I can also provide a repo with just the minimal code to reproduce if my steps are unclear.

[2022-06-14 15:41] ilgooz opened #2593 "automated tutorials and testing"
We have [tutorials](https://github.com/ignite-hq/cli/tree/develop/docs/docs/guide) in our docs.

Tutorials might quickly get out of sync if the templates used for scaffolding changes or between SDK versions and some other reasons. They should be kept up to date and always properly work with the latest version of the CLI. Whenever we make a change in the develop branch, we should make sure that tut

[2022-06-14 19:22] Jai-Anchorage opened #2594 "Run Ignite CLI in Docker incorrect documentation"
**Describe the bug**
https://docs.ignite.com/kb/docker describes that to scaffold a docker based Ignite CLI we must use
```docker run -ti -w /app -v $HOME/sdh:/home/tendermint -v $PWD:/app ignite/cli:0.16.0 app github.com/hello/planet ```
However after checking the docker hub  https://hub.docker.com/u/ignitehq we found that it should be ```ignitehq/cli``` instead of ```ignite/cli:0.16.0```

**To r

[2022-06-14 19:29] Jai-Anchorage opened #2595 "Tendermint user in the Docker File"
When trying to scaffold the blockchain on my machine there are many permission issues stemming from the Dockerfile setting tendermint as the user. Therefore it is trying to access files that it's not allowed to access. The code snippet is taken directly from the Dockerfile
[code]
Why is the user set as tendermint. Is this an issue that other trying to run on Docker have face. If so how did you ove

[2022-06-14 19:33] Jai-Anchorage opened #2596 "Apparent documentation errors"
Some of the commands are deprecated in “Scaffolding a chain” the ```app``` command should be ```scaffold chain``` and in "Starting a blockchain", the ```serve``` command should be ```chain serve```

[2022-06-15 15:30] jeronimoalbi commented on #2568
Thanks for reporting the issue @lava17 👍

I am wondering if you are running Alpine linux or a distro that uses a variant of some base libraries. Alpine uses musl libc, so if that is your case it might actually mean that the `libstdc++` is not be installed. I remember seeing similar issues somewhere else.

Otherwise to figure out the issue it might help to know the Linux distro you are using and al

[2022-06-15 19:59] jsimnz commented on #2473
hey @ilgooz.

Work is progressing well, have most of the multi process stuff working for each validator, but there is a design constraint that I'm trying to work through.

The issue description talks about the changes to the HOME directories, where each validator has their own home folder under the main home folder. IE: `alice` validator's home lives in `~/.mars/alice` and contains its respective

[2022-06-17 09:41] ilgooz commented on #2473
Yep, all sounds good!

We don't need a symlink then and if you're directly using chain's binary to do things manually, you need to specifically define the home dir through the home flag. e.g: `~/.mars/alice`

And `ignite chain serve`'s `--home` can by default point to the root dir: `~/.mars`

[2022-06-20 10:35] ivanovpetr commented on #2546
It happens because `chain show genesis` fetches reward information using field `ConsumerRevisionHeight from the chain https://github.com/ignite-hq/cli/blob/develop/ignite/cmd/network_chain_show_genesis.go#L85 and this value has value `0` until launch is triggered for the chain https://github.com/tendermint/spn/blob/develop/x/launch/keeper/msg_trigger_launch.go#L48 . Value '0' leads fail when comma

[2022-06-20 10:50] ivanovpetr commented on #2557
Should we have an ability for testnets to tweak default values somehow? For example we can use flag `ignite n chain init --self-delegation 10000000stake`

[2022-06-23 15:07] ilgooz opened #2606 "create a PR on cosmos/comos-sdk to update links"
from ignite-hq to ignite.

Let's do this after v0.22.2 has released and all the testing has done.

[2022-06-23 22:02] irclausen commented on #1141
Piling on here, I've spent half a day trying to figure out how to debug any of the ignite cli tutorials (currently my DeFi loan tutorial won't flip to the approved state, but throws no errors). I did find https://www.youtube.com/watch?v=qnMQDID5HME but this seems to be a pretty dated version of the scaffolding/starport. Any other quick tips on how to do some debugging here or an ETA on when some o

[2022-06-23 22:56] dabit3 opened #2617 "Blog tutorial bug"
**Describe the bug**
[Blog tutorial](https://docs.ignite.com/guide/blog) does not work

**To reproduce**
Steps to reproduce the behavior:
1. Follow the tutorial
2. Try to execute the example commands:

`blogd tx blog create-post foo bar --from alice`

or

`blogd q blog posts`

Gets error:

`unknown command "posts" for "blog"`

**What version are you using?**
v0.22.2

Provide the output of the `ign

[2022-06-24 03:32] Frederic-Zhou opened #2618 "version 0.22.2 scaffold chain fail"
**Describe the bug**
After update ignite source and rebuild
run:
[code]
fail message:
[code]

0.20.3 is fine

[2022-06-24 04:45] dabit3 commented on #2617
Actually realized the issue, I did not start the chain 😅

I might submit a PR to mention to run:

[code]

before running

[code]

[2022-06-24 04:45] #2617 closed

[2022-06-24 07:10] jeronimoalbi commented on #2594
Thanks @Jai-Anchorage! The documentation issue has been fixed with the `0.22.2` release.

[2022-06-24 07:10] #2594 closed

[2022-06-24 19:11] #2606 closed

[2022-06-28 10:55] nickray commented on #2568
@jeronimoalbi we are running into an issue that's at least closely related. On RHEL8 (`strings /usr/lib64/libstdc++.so.6|grep GLIBC`) the latest GLIBCXX is 3.4.25, whereas the compiled `ignite` binary wants 3.4.26.

Now I'm not defending RHEL's conservatism... but perhaps you could build the release binaries on an Ubuntu 18.04 runner to ensure this important platform is supported?

[2022-06-28 17:41] ilgooz commented on #2156
Hey @jiujiteiro is there any updates on this? Thank you!

[2022-07-04 12:11] tbruyelle commented on #2618
Hi @Frederic-Zhou, unfortunately I cannot reproduce your issue. I tried with a binary compiled under the v0.22.2 tag and with the binary packed in gh release. I was able to scaffold a chain w/o issue.

Can you retry with the binary packed in the gh release ?
https://github.com/ignite/cli/releases/tag/v0.22.2

[2022-07-04 12:18] tbruyelle commented on #2596
Hi @Jai-Anchorage, can you please clarify what documentation you're referring to ? I looked at the markdown in this repository and I didn't find any `ignite app` or `ignite serve`. Thanks.

[2022-07-04 16:10] tbruyelle commented on #2595
Even if it's not the perfect solution, using this custom user avoids having all the files and directories owned by root, when for instance you scaffold a chain.

Can you detail the kind of permission error you got ?

[2022-07-07 10:19] Frederic-Zhou opened #2623 "How to create new account for submit tx?"
I follow the `igenite` documentation to learn cosmosSDK, and the examples are work will.
But I have a problem, all the examples are using `alice` or `bob` to submit tx,
**What if I want to create a new account and submit tx?**

I tried  run `appd keys add someone --keyring-backend test` to create a new key ,but when submitting tx, through `appd tx <modulename> <message> <...fileds> --from someone

[2022-07-07 10:46] Frederic-Zhou commented on #2618
**This is all my steps**
[code]

I download the binary file from https://github.com/ignite/cli/releases/tag/v0.22.2 , but  get same error !!

[2022-07-07 15:27] Frederic-Zhou commented on #2618
In my case, this error occurs in versions v0.20.3  above

[2022-07-07 15:51] Frederic-Zhou commented on #2623
I solved it and found the answer in this documentation https://docs.cosmos.network/v0.45/run-node/interact-node.html.

must send some stake to the new account.

[2022-07-07 15:51] #2623 closed

[2022-07-08 06:20] abrindam commented on #1666
Adding my voice here too - this just ate several hours of my life. As a newcomer, I had basically no idea how to solve this and assumed I must be doing something wrong. It was only after three hours or so that I got the "crazy" idea that it might be due to the dashes in my project name - which ultimately turned out to be correct.

Putting dashes in your project name is not unusual at all - in fact

[2022-07-08 08:11] bbqaaq commented on #1960
Hi any update for this issue?
I have been debugging my chain for days, and finally I found out the reason is just missing the `RegisterMsgServer`.

[2022-07-08 10:43] tbruyelle commented on #2618
Your error occurs when ignite runs `go mod download` inside your scaffolded chain, and go cannot find `github.com/ignite-hq/cli@v0.22.1-0.20220610070456-1b33c09fceb7`.

This module is present in the official proxy (https://proxy.golang.org/github.com/ignite-hq/cli/@v/v0.22.1-0.20220610070456-1b33c09fceb7.mod), what do you have in your GOPROXY env please ?

If I remove my module cache and set `GOPR

[2022-07-09 06:17] marcoeg opened #2625 "scaffold chain fail with exit status 1"
**Describe the bug**
After installing ignite CLI the  first scaffold failed with exit status 1.

**To reproduce**
[code]

[code]
[code]
**What version are you using?**

 $ ignite version
Ignite CLI version:     v0.22.2
Ignite CLI build date:  2022-06-23T16:39:25Z
Ignite CLI source hash: a22808a031b93c0c4065a303edea88bb90be6a10
Your OS:                linux
Your arch:              amd64
Your go ver

[2022-07-09 06:34] marcoeg commented on #2625
Attaching the `strace` output.
[strace.txt](https://github.com/ignite/cli/files/9075992/strace.txt)

[2022-07-09 18:45] marcoeg commented on #2625
Cleaning the go modules cache solved the problem.

[2022-07-09 18:45] #2625 closed

[2022-07-11 04:00] sanjaydefidev commented on #1407
Looking for same. All major development tool has first class support for Windows without relying on WSL. Hardhat dApp development work flawlessly. We can also use Go, Rust on Windows without any problem.

[2022-07-12 02:46] SbaseTY opened #2626 "Unable to load 0.0.0.0:1317 api page."
Why does this problem occur?
Please give me a solution.
Thank you.

![Screenshot from 2022-07-12 11-37-08](https://user-images.githubusercontent.com/34364257/178397410-89ae3405-304d-4a14-aef2-e8231dd327a0.png)
![Screenshot from 2022-07-12 11-48-15](https://user-images.githubusercontent.com/34364257/178397725-9b87222d-81a3-4e59-8410-c757503232e7.png)
![Screenshot from 2022-07-12 11-38-06](https://u

[2022-07-12 08:50] tbruyelle commented on #2626
Hello @SbaseTY , one problem I notice in your screenshots : the port 6060 is already in use so your chain cannot be started. Find what is the process which uses that port, kill it and retry.

[2022-07-12 08:57] #2590 closed

[2022-07-12 10:04] #2596 closed

[2022-07-12 10:16] arvin-lau opened #2627 "What is the purpose of the code below in the ' ignite chain serve ' command?"
**if the chain is already initialized but the source has been modified,we reset the chain database and import the genesis state, Why do you do that?**

` fmt.Fprintln(c.stdLog().out, "💿 Existent genesis detected, restoring the database...")

		if err := commands.UnsafeReset(ctx); err != nil {
			return err
		}

		if err := c.importChainState(); err != nil {
			return err
		}`

[2022-07-13 11:50] ilgooz commented on #1960
cc @jeronimoalbi @tbruyelle

[2022-07-13 11:51] ilgooz commented on #1666
cc @tbruyelle @jeronimoalbi

[2022-07-17 06:34] SbaseTY commented on #2626
@tbruyelle Thanky very much.

[2022-07-17 06:34] #2626 closed

[2022-07-17 06:36] SbaseTY opened #2631 "Define messages logic error"
An error occurs when the code is entered according to the manual.
Which part is the problem?
thank you

![스크린샷, 2022-07-17 15-32-24](https://user-images.githubusercontent.com/34364257/179387063-c89535da-aa6b-4fb6-94e8-4aa201d25f99.png)

![스크린샷, 2022-07-17 15-38-49](https://user-images.githubusercontent.com/34364257/179387107-be0ac8ba-2ae8-4413-acb2-d2aa0db53ae0.png)

[2022-07-17 16:38] lumtis opened #2633 "Scaffolding an `evm` ready chains with Polaris"
**Is your feature request related to a problem or issue you encountered? Please describe.**
`evm` is the most popular VM for smart contracts. Many developers like DYDX may want to transition to a self-sovereign blockchain but without giving up their Solidity smart contract architecture. Others may prefer to develop Solidity smart contracts rather than SDK modules.

The `evm` module allows deployin

[2022-07-18 09:52] tbruyelle commented on #2631
Hey @SbaseTY , I assume you're following the [blog tutorial](https://docs.ignite.com/guide/blog), the `AppendPost` is defined a little further, before that, it is expected that the code doesn't compile properly.

[2022-07-18 09:57] tbruyelle opened #2635 "integration: the CLI binary should match the version of the tests"
Currently, the integration tests uses the CLI binary they can find in the path. This can be confusing as you may have test errors because using a previous build.

We should build a new binary each time the integration tests are run, so it has the same version of the tests.

[2022-07-18 10:12] Frederic-Zhou commented on #2618
Thanks @tbruyelle and @ilkerkorkut .
I had pull the new source code ,but after I change the GOPROXY   `export GOPROXY="https://proxy.golang.org,direct"`
the new error is `go: github.com/ignite/cli@v0.22.3-0.20220711121333-fd07def4098d: invalid proxy URL missing scheme: none
: exit status 1`

[2022-07-18 10:16] tbruyelle commented on #2627
Hi @arvin-lau, are you running the `ignite chain serve` with the `-f/--force-reset` flag enabled ?

[2022-07-18 11:36] tbruyelle commented on #2618
@Frederic-Zhou can you give the output of the commands `ignite version` and `go env` please ?
The new error is still related to `ignite scaffold chain` right ?

[2022-07-18 11:42] Frederic-Zhou commented on #2618
Thanks @tbruyelle
I solved this problem.
I refer to the way you fix and delete the github.com/ignite/cli@v0.22.3-0.20220711121333-fd07def4098d required in the `go.mod.plush` file, and it works fine.
<img width="626" alt="image" src="https://user-images.githubusercontent.com/3068492/179503683-465590fd-1134-4e73-b953-b0fb4b35c059.png">

[2022-07-18 11:44] Frederic-Zhou commented on #2618
## ignite version
[code]

## go env
[code]

[2022-07-18 11:59] Vizualni commented on #2108
I've noticed the same thing and it's making upgrade handler unhappy :).
It still returns version 2: https://github.com/ignite/cli/blob/develop/ignite/templates/module/create/stargate/x/%7B%7BmoduleName%7D%7D/module.go.plush#L168

[2022-07-18 12:14] tbruyelle commented on #2618
So when does the new error occur in this case ?

It's not the official proxy, idk if it's reliable.

[2022-07-18 13:18] ilgooz commented on #2156
Hey @jiujiteiro, we're withdrawing this bounty since there was no actively for a long time.

Thank you for your interest!

[2022-07-19 10:13] tbruyelle commented on #2618
It seems you can't access URL like `https://proxy.golang.org/github.com/ignite/cli/@v/v0.22.3-0.20220711121333-fd07def4098d.mod`. On my side I can. Maybe you have access restrictions ?

[2022-07-19 12:17] lubtd commented on #2074
Closing it as we no longer have consensus address for a validator and operator address is optional (and we should use the original validator address by default)

[2022-07-19 12:17] #2074 closed

[2022-07-19 12:56] lubtd commented on #2403
Closing since adding an initial list of accounts in the genesis is now supported even for mainnet.

Feel free to reopen if you have an objection.

[2022-07-19 12:57] lubtd commented on #2574
I would suggest to first merge the current `rewards release` PR

[2022-07-19 14:35] Frederic-Zhou commented on #2618
Yes, there are a lot of network restrictions in my area,that's too bad.
is there a way I can handle this manually?

[2022-07-20 07:13] Frederic-Zhou commented on #2618
new error occur
[code]

I found this if remove `github.com/ignite/cli@v0.22.3-0.20220711121333-fd07def4098d` required in the go.mod.plush file.
and run
[code]
the go.mod file will be required  `github.com/ignite/cli v0.22.2`

<img width="594" alt="image" src="https://user-images.githubusercontent.com/3068492/179919551-89fbb32d-25d0-4009-96d0-30e1c4837207.png">

[2022-07-20 08:29] tbruyelle commented on #2618
but don't you come back to the original problem?

[2022-07-20 13:06] lubtd opened #2637 "network chain join: account already exist"
[code]

trigger the error

[code]

`join` verifies if the account already exists for the chain, the error lies in the fact that we use the genesis generated from the `init` command and containing a test account as a base genesis for verification

Fix:

Running `initGenesis` to regenerate the genesis in the `join` command should fix the error

[2022-07-20 15:59] silverstr89 opened #2640 "Compatibility with go 1.18"
Ignie is not compatible with go version 1.18

when i try to run with go 1.18 i see error, there is no error if i run it with any go 1.17 version

[code]

**To reproduce**
Steps to reproduce the behavior:
update your go version to 1.18
run ignite chain serve as a usual

**What version are you using?**

cosmos sdk v0.44.5

Provide the output of the `ignite version` command.

Ignite CLI version:	deve

[2022-07-20 16:40] tbruyelle commented on #2640
Hi @silverstr89 , I'm using ignite and go1.18 without problem, maybe it's related to your git. Can you run `git version`  and give the output please ?

[2022-07-20 18:45] silverstr89 commented on #2640
git version 2.32.1 (Apple Git-133)

[2022-07-20 20:55] aljo242 opened #2641 "Newly scaffolded chains should not import `monitoringp` module by default"
**Describe the bug**

By default, newly scaffolded chains import the `monitoringp` module.  I believe that this should be an "opt-in" import only for users who are going to be using this feature.  The cli should give developers flexibility and start them off in the most lightweight point possible.  I think the best course of action would be to have a prompt ask developers something like "would you

[2022-07-21 05:40] lubtd commented on #2641
I'm in favor of removing it.
Even though the module is inactive when initialized with an empty genesis state, it may be confusing for developers to see their app scaffolded with a non-used module.
We will not need it for the time being, and at this point, we can hope the new module wiring design will be out so we can implement a reliable `import` command.
Also, I don't think it is complex to impor

[2022-07-21 09:06] tbruyelle commented on #2640
Ok your git sounds good.
Unfortunately, for some reason, the 1.18 feature that is supposed to embed version control information in your chain binary is unable to fetch this information in your chain `.git` folder.

As a workaround, you can still use go1.18 but with this env `GOFLAGS='-buildvcs=false'`. This will impact the go commands invoked by the ignite binary.

[2022-07-21 09:33] Frederic-Zhou commented on #2618
thanks for your help, @tbruyelle
My current project was created with v0.20.1, so it's not a very urgent fix for the latest version.
In my area, there are indeed many problems with network restrictions. I have tried the solution you gave, but it still occurs  i/o timeout error.
Maybe I should wait for you to update the next version, for now, I can learn through v0.20.1

[2022-07-21 12:21] tbruyelle commented on #1960
@bbqaaq @jhernandezb @migueldingli1997 Hey guys, I opened a PR to fix that, but I would like to write a dedicated integration test. Can you explain here when this call is relevant ?

[2022-07-21 12:39] tbruyelle commented on #137
Hi @robert-zaremba, I don't get your point, go workspaces have been introduced to facilitate the development of multiple go modules interacting with each other, but here the CLI project is a single go module, so what's the benefit of introducing go workspaces inside it ?

AFAIK you don't convert a module to a workspace, but you eventually add a module to a workspace, using `go work init ./module`

[2022-07-21 12:57] tbruyelle commented on #2108
The cosmos docs says the *initial* value must be 1, to avoid potential errors with default values (0), but it can be greater.

If during an upgrade you introduce a breaking change in your module, you have to increment the returned value. I can't explain why the initial value has been set to 2 for CLI, but I don't think that's a problem.

[2022-07-21 13:43] robert-zaremba commented on #137
I'm just saying that i got into the same problem when we started introducing go workspace

[2022-07-21 14:20] tbruyelle commented on #137
Ah sorry I understood that you were asking for a CLI change to handle go workspaces, hence my attempt to explain why this is not relevant.

The problem with ziphash sounds related with the go module cache, did you run `go clean -modcache` ?

[2022-07-21 14:33] #1983 closed

[2022-07-21 15:12] lubtd opened #2642 "`network prepare`: `height must be greater than 0, but got 0`"
**Describe the bug**
Get `height must be greater than 0, but got 0` while running prepare

**To reproduce**
Steps to reproduce the behavior:
1. Start spn locally `ignite chain serve -c config_2.yml -r`
[code]

[2022-07-21 16:50] lubtd commented on #2546
Haven't noticed this issue, but it is tracked by https://github.com/ignite/cli/issues/2642 and a PR includes the fix

[2022-07-21 16:50] #2546 closed, assigned to ivanovpetr

[2022-07-21 20:00] lubtd opened #2644 "`network chain publish`: prevent creating a campaign along with a testnet"
Removing the campaign creation on `chain publish` to make the command simpler and more intuitive

Keep the behavior if `--mainnet` flag is provided

Consider new set of commands for campaign management

[2022-07-22 07:38] robert-zaremba commented on #137
Yes, we pasued `go workspace` integration because of this `missing ziphash` issue: https://github.com/cosmos/ibc-go/pull/1709#issuecomment-1189815644

[2022-07-22 12:08] Jai-Anchorage opened #2647 "Cannot see accounts specified in Config.yml when running ignite account list"
**Describe the bug**
Even though there are several accounts (Alice and Bob) listed in the config.yml file there are no accounts that are outputted when running ignite account list. Right now we are using a docker file to execute ignite. Do we have to execute it a different way to see these accounts or should they just be available to us?

**To reproduce**
Steps to reproduce the behavior:
1. ignite

[2022-07-22 14:59] tbruyelle commented on #2647
Hey @Jai-Anchorage, Alice and Bob are accounts of your chain, that's different from the accounts of the ignite binary.

The first one are located in `$HOME/.yourchain/keyring-test`, while the other are in `$HOME/.ignite/keyring-test`.

:information_source:  In the context of docker, you have to replace `$HOME` with `$HOME/sdh`, assuming you followed the instructions from the docs.

To display the

[2022-07-23 19:21] brennanjl opened #2650 "Keyring module needs to be updated to v 1.2.1"
**Describe the bug**
Ignite CLI uses an old version of github.com/99designs/keyring.  Ignite CLI uses v1.1.6, however the newest version v1.2.1 is necessary for mac m1 chip users.  The cosmos SDK made this change 9 days ago: https://github.com/cosmos/cosmos-sdk/commit/01b4a4237973698e174d1de48d82cc496b89c97c

**What version are you using?**
v 0.22.2

[2022-07-23 23:34] bbqaaq commented on #1960
@tbruyelle For my use case, it's related to wasm integration and which is extremely specific. As I tried to integrate wasm module into my ignite scaffolded project, I got errors when wasm module try to route the `sdk.Msg` to my own modules.

It turns out that wasd cannot find the handler from the `app.MsgServiceRouter()`, and which is due to this issue.

The line of code is from https://github.com

[2022-07-25 09:01] #1960 closed

[2022-07-25 09:04] tbruyelle commented on #1960
@bbqaaq Thanks, giving your feedback I tried to reproduce the problem with a case where 2 scaffolded modules interact with each other but w/o success. Anyway the PR is merged and now `RegisterMsgServer` is invoked for each new scaffolded module. This will be released in 0.24, thanks for your report!

[2022-07-25 09:26] #1666 closed

[2022-07-25 11:36] #2641 closed

[2022-07-25 11:56] Jagadeeshkumar748 opened #2656 "Error in ignite scaffold query command code generation"
When using ignite scaffold query command to genearate code then it generated query_{name}.go file inside x/{module_name}/client/cli.

In the file, at present it is generating `clientCtx, err := client.GetClientTxContext(cmd)`.
But it needs to generate `clientCtx, err := client.GetClientQueryContext(cmd)` for a query scaffolding.

Steps to reproduce the issue:

1. ignite scaffold query posts --resp

[2022-07-25 12:28] lubtd opened #2657 "CI: integration tests errors with `text file busy`"
**Describe the bug**
Integration tests sometime fail with the error `text file busy` when building proto when building the app

Full logs:

[code]

[2022-07-25 13:28] ilgooz opened #2658 "consider removing cosmoscmd"

[2022-07-25 22:30] smsunarto opened #2659 "Explicitly define port for the Vue web app"
**Describe the bug**
1. `npm run serve` in the Vue folder
2. The port used is non-deterministic and often collides with another application that is already running on that port

This is problematic because documentations/tutorial become unreliable. We should explicitly define a port to use in `vite.config.ts`

**To reproduce**
Steps to reproduce the behavior:

Self explanatory

**What version are

[2022-07-25 22:32] smsunarto commented on #2659
Related: https://github.com/ignite/cli/issues/2503

[2022-07-26 08:05] #2044 closed

[2022-07-26 09:26] #2650 closed

[2022-07-26 12:17] lubtd commented on #2658
This is the old behavior and this is what we had in mind

[2022-07-26 13:48] fadeev commented on #2658
I agree that the process of upgrading chains is needlessly difficult when we have dependencies on Ignite and SPN in the chain's source code. That being said, dumping 600 lines of code that is almost identical between chains seems like a huge step back.

I think most of those 600 lines of code should be abstracted into a package that is used in `main.go`. This package, however, should live in Cosmo

[2022-07-26 14:22] lubtd opened #2660 "Replacing `os.Rename()` usage"
Context: https://github.com/ignite/cli/pull/2643#discussion_r930005952

Under some circumstances `os.Rename()` can fail on some machine because of directory with different partition

We should replace Rename usage in case there can be different partition, like usage of `/tmp`

### Solution

Possibly implementing https://gist.github.com/var23rav/23ae5d0d4d830aff886c3c970b8f6c6b and replace `os.Rena

[2022-07-26 14:29] jeronimoalbi commented on #2162
This issue has been fixed in #2632

[2022-07-26 14:29] #2162 closed

[2022-07-26 14:54] lubtd commented on #2658
Yes, there is some room for abstraction I think.

Only the `add-genesis-account` command takes lot of lines of code and most of the time is not customized (some exceptions like evmos) this is the perfect example of something we could provide but the developer can easily replace

[2022-07-26 15:04] #2547 closed

[2022-07-26 15:04] #2637 closed

[2022-07-26 15:04] #2642 closed

[2022-07-26 16:40] fadeev commented on #2658
@lubtd also, the query cmd namespace.

[code]

The only dependency it has on the custom chain is `app.ModuleBasics.AddQueryCommands(cmd)`. If you pass `app` as an argument, the whole namespace can be wrapped into a single line, for example.

[2022-07-26 16:41] fadeev commented on #2658
After we have an open discussion about this, maybe we can first remove `cosmoscmd`, then try to add a package to Cosmos SDK repo that could abstract the hairy bits of `cmd` while still giving devs an option to overwrite the commands.

[2022-07-27 05:18] yatender-oktalk commented on #1772
This doesn't fix the error.

[2022-07-27 07:46] lumtis opened #2661 "Create a routine to parse `ErrNotFound` from returned error"
Context: https://github.com/ignite/cli/pull/2516/files#r892287966

Create a routine with the duplicated logic:
[code]

[2022-07-27 08:03] #2073 closed

[2022-07-27 10:18] jeronimoalbi opened #2665 "Change blog tutorial to use "blog" as account address prefix"
**Description**

As reported in #2645 it would be a good idea to make it clear how to change the blockchain account address prefix instead of using the default "cosmos" prefix.

At the moment none of the tutorials explain how to do it.

**Solution**

- Change the [blog tutorial](https://github.com/ignite/cli/tree/develop/docs/docs/guide/03-blog) to scaffold the new chain using "blog" as address pr

[2022-07-27 10:36] jeronimoalbi opened #2666 "Add docs and usage examples for Ignite CLI packages"
**Description**

It would be beneficial for developers to get familiar with Ignite CLI [packages](https://github.com/ignite/cli/tree/develop/ignite/pkg). To enable that we could enhance the documentation with a new section that describes each individual package and gives some usage examples.

Initially we can start with the [cosmosclient](https://github.com/ignite/cli/tree/develop/ignite/pkg/cosmo

[2022-07-27 13:09] tbruyelle commented on #2656
Good catch @Jagadeeshkumar748, even if the query flags like `--height` were correctly printed in the query help output, the flags were completely ignored during the execution because of this bug.

PR on the way, thanks!

[2022-07-27 14:09] #2656 closed

[2022-07-27 16:05] Jai-Anchorage commented on #2647
Thank you!!

[2022-07-27 22:13] MalteHerrmann opened #2671 "Protobuf dependency version unknown"
**Describe the bug**
When trying to use the `cosmosclient`, the package cannot be installed properly, because it depends on `protobuf v1.3.3`. According to https://github.com/gogo/protobuf/releases, this release does not exist yet.

The full error is:
[code]

**To reproduce**
Steps to reproduce the behavior:
1. `go get github.com/ignite/cli/ignite/pkg/cosmosclient`

**What version are you using?**

[2022-07-28 05:46] fadeev commented on #2665
This might depend on whether we're keeping `cosmoscmd` or not.

[2022-07-28 05:48] fadeev commented on #2671
Have you used the replace directive in your `go.mod`?

[code]

As described in the tutorial: https://docs.ignite.com/guide/blog/connect-blockchain

[2022-07-28 06:21] MalteHerrmann commented on #2671
@fadeev No I had not. I was using a different resource, which did not contain this very relevant information.
Thank you for the hint!

[2022-07-28 06:21] #2671 closed

[2022-07-28 06:58] CocDap opened #2672 "QueryPostsRequest has no field or method Pagination"
**Describe the bug**
i am stucked when follow **Build a blog** tutorial

**Problem**
Steps to reproduce the behavior:
1. I follow this tutorial for building blog chain in ignite documents
2. I stopped  this step https://docs.ignite.com/guide/blog#display-posts , remove old **grpc_query_posts.go** by new contents that document suggested
3. Got this error:
[code]

* Ignite CLI version:	v0.23.0

 * g

[2022-07-28 07:08] fadeev commented on #2672
You have to manually add pagination to `QueryPostsRequest` in `proto/blog/query.proto`:

[code]

[2022-07-28 08:13] CocDap commented on #2672
Thank you very much. Done

[2022-07-28 08:13] #2672 closed

[2022-07-28 08:42] fadeev commented on #2156
- [ ] Remove the following in `app/app.go`:

[code]

- [ ] Add third party proto files to Ignite, because Cosmos SDK no longer ships with protos for `gogoproto`, for example. Compare [v0.45](https://github.com/cosmos/cosmos-sdk/tree/v0.45.6/third_party/proto) and [v0.46](https://github.com/cosmos/cosmos-sdk/tree/v0.46.0/third_party/proto).

[2022-07-28 13:34] lubtd commented on #2156
There are two aspects to this issue:
- Supporting serving new version: building proto + update with new CLI interface for init phase
- Update the templates for `0.46.0`

For the template I believe the complexity should be handled in several PRs since we need to upgrade most of the commands, and so creating a `0.46.0` branch for the upgrade

[2022-07-28 14:24] aljo242 commented on #2156
Depends on: https://github.com/tendermint/spn/pull/914

[2022-07-28 14:31] aljo242 opened #2673 "Cosmos SDK `v0.46.0` upgrade tracking issue"
This issue can track our progress of upgrading `ignite` to use the Cosmos-SDK `v0.46.0`.

**Checklist**
- [X] https://github.com/tendermint/spn/pull/914
- [X] Update `go.mod` to use updated `cosmos-sdk`, `spn`, and `ibc-go`
- [X] change all imports starting with  `github.com/cosmos/ibc-go/v3` to `github.com/cosmos/ibc-go/v5`
- [X] update `app` template according to new SDK and test with `ignite`
-

[2022-07-28 14:32] aljo242 commented on #2673
Feel free to add to this

[2022-07-28 14:36] ilgooz commented on #2673
cc @gnomeskiii @marbar3778

[2022-07-28 14:47] lubtd commented on #2673
I don't have anything particular to add. I think

Can be separated for all scaffolding commands to work on them in parallel, this could be the complex part of the PR

[2022-07-28 14:48] lubtd commented on #2673
May we close https://github.com/ignite/cli/issues/2156 @ilgooz ?

[2022-07-28 14:52] #2156 closed

[2022-07-28 14:54] jeronimoalbi commented on #2657
The `text file busy` seems to happen ONLY in Linux, not in macOS, when the contents of a running binary is overwritten by another process before the binary stops running. The same doesn’t  happen when the binary file is deleted.

This lead me to think that some integration tests might be “flaky” because some other test is overwriting one of the generated binary files. The specific file being affec

[2022-07-28 15:05] ilgooz commented on #2658
As a side node, in cosmoscmd we have a custom logic that optionally enables HTTP tunneling on Gitpod to allow connections to Tendermint RPC.

I suggest we wrap move this functionality to another package to be placed under `pkg/` and use it in our templates.

[2022-07-28 16:41] tbruyelle commented on #2658
I would add this is required to make a standalone cosmoscmd because this part has plenty of dependencies to `ignite/cli/pkg`.

[2022-07-29 06:23] fadeev commented on #2658
What a binary essentially has is a top-level list of commands. Most of these commands are exactly the same between chains, however, leaving an option for a developer to overwrite commands is a must.

[code]

I see no reason why main couldn't look something like this (pseudo-code):

[code]

All these `whateverCmd()` commands will be in the Cosmos SDK repo and in sync with the latest version. It's t

[2022-07-29 06:56] fadeev commented on #2666
This is a great idea! Would it make sense to keep the documentation about modules in the code or right next to the code to make sure that the docs don't go out of sync with the code?

[2022-07-29 07:59] #2507 closed

[2022-07-29 08:02] ilgooz commented on #2673
Hey, I created [this](https://github.com/ignite/cli/pull/2677) PR which is using `feat/sdk-ibc-upgrade` as the base branch.

I propose to target `feat/sdk-ibc-upgrade` as the base branch for the future PRs as well and once all of them are merged, we can extensively test that branch before merging it to develop.

This approach could also give us flexibility if we want to make another release while

[2022-07-29 13:09] fadeev commented on #2673
I can take on documentation.

[2022-07-29 13:17] aljo242 opened #2679 "Handle errors from `keyring.Record.GetPubKey()`"
The cosmos sdk `v0.46.0` upgrade made many changes to the `github.com/cosmos/cosmos-sdk/crypto/keyring` package.

In particular, the `Record.GetPubKey()` function now returns an `error` which is currently unhandled.

[2022-07-29 13:27] ilgooz commented on #2673
@fadeev That would be great! 🙏

[2022-07-29 15:34] ilgooz opened #2681 "docs website: enable server side rendering"
We should enable isomorphic/universal rendering so search engines will be able to index the docs website.

[2022-07-29 15:41] aljo242 commented on #2673
Remaining work on #2677 is to modify the templates and proto-gen

[2022-07-30 08:09] fadeev commented on #2681
Search engines are capable of indexing JS-powered websites.

<img width="1567" alt="Screenshot 2022-07-30 at 12 08 53" src="https://user-images.githubusercontent.com/332151/181889421-f68551b8-db04-4bdc-812b-0bb55f7c2d94.png">

https://www.google.com/search?q=site%3Adocs.ignite.com

[2022-07-30 08:15] fadeev opened #2682 "Make it easier to scaffold a chain without the `monitoringp` module"
`monitoringp` is important, but at the same time, it creates a required dependency on `tendermint/spn`, which isn't great. Maybe this is low-priority, because of the new wiring system (removing `monitoringp` from the chain will be easier after the new wiring is released), but still.

I swear I saw an issue dedicated to this, but I can't find it.

[2022-07-30 08:56] lubtd commented on #2682
`monitoringp` has recently been removed from the default template https://github.com/ignite/cli/issues/2641

[2022-07-30 11:32] #2682 closed

[2022-07-31 02:06] fengzhyuan opened #2683 "Could not add NFT module into the project created by ignite scaffold"
**Describe the bug**
With the created scaffolding project, I cannot add the `x/nft` module.

**To reproduce**
Steps to reproduce the behavior:
1. `ignite scaffold chain chain-name`
2. Either add a line into `app/app.go` with `"github.com/cosmos/cosmos-sdk/x/nft"` or in terminal type `go get "github.com/cosmos/cosmos-sdk/x/nft"`
3. There will be an error: `go: github.com/99designs/go-keychain@v0.0.

[2022-07-31 05:20] fadeev commented on #2683
The latest stable version of Ignite CLI scaffolds a Cosmos SDK v0.45.x blockchain. The NFT module was introduced in Cosmos SDK v0.46. The Ignite CLI is in the process of being updated to the recently released v0.46, so you'll be able to add an NFT module to it easily.

https://github.com/ignite/cli/issues/2673

[2022-07-31 05:22] #2683 closed

[2022-07-31 15:52] gameveloster opened #2684 "React frontend app?"
**Is your feature request related to a problem or issue you encountered? Please describe.**
I think having a React frontend scaffold option in addition to Vue will be great, since there are many React devs out there and some like myself might not want to learn Vue at the moment.

**Describe the solution you'd like**
Add the option of generating the frontend app using React

[2022-08-01 07:30] jeronimoalbi commented on #2666
Indeed, when @ilgooz proposed it we talked about having this and at the end we agreed on having it as part of the documentation. I am thinking now that a middle term solution wouldn't be bad, where docs and examples could be kept in the code so they won't be out of sync while a short description and a link could be part of the documentation because chances for the description or the module to be r

[2022-08-01 11:05] hammadtq commented on #2473
Sorry not adding anything constructive here but just wanted to check if there is anything that I can use now to support multi-validator architecture?

[2022-08-01 12:55] aljo242 opened #2686 "Scaffolded simulation file is incorrectly spelled"
**Describe the bug**

Newly scaffolded chains include a `simulation` folder with a utility file.  This is currently named `simap.go` and should be renamed to `simapp.go` or `simutil.go`.  I prefer `simutil`

**To reproduce**
Steps to reproduce the behavior:
1.  Scaffold a new chain and look in the `x/{module}/simulation` folder

**What version are you using?**

Provide the output of the `ignite ve

[2022-08-01 13:51] ilgooz commented on #2473
Hey, I think @jsimnz is working in this, I should defer to them for updates.

John can you please let us know about the status of this feature?

[2022-08-02 09:13] lubtd opened #2687 "Propose `--skip-proto` flag in build process"
**Is your feature request related to a problem or issue you encountered? Please describe.**
The current build process when serving a chain always building proto files with the embedded protoc of Ignite
Some project may use their own tool for building proto files like `buf` but still want to use CLI commands for serving, etc...

**Describe the solution you'd like**
Adding a flag, like for example `

[2022-08-03 16:40] avenbreaks opened #2691 "blogd eror call posts"
How to fix blogd tx blog posts error,
im open another terminal for `ignite chain serve` or `ignite chain build `

[code]

`blogd q blog posts`

![image](https://user-images.githubusercontent.com/93043826/182662968-1680c68f-a504-4a02-a2e7-01105833eeea.png)

[2022-08-03 21:04] #137 closed

[2022-08-04 04:54] fadeev commented on #2691
What's in your `x/blog/client/cli/query.go`? It should contain the following line:

[code]

Also, have you registered a query client in `x/blog/module.go`?

https://docs.ignite.com/guide/blog#add-grpc-to-the-module-handler

In any case, if you want to see a working example (and compare it to what you have in your source code), you can just create a new chain and add a `post` model:

[code]

[2022-08-04 08:55] ilgooz commented on #2673
Since @tbruyelle is vacationing, @jeronimoalbi would you mind taking the part related to running the tutorials and migrating them if there is a need for it?

[2022-08-04 09:01] ilgooz commented on #2687
@robert-zaremba we implemented a caching layer so CLI won't generate code for every module each time there is a file change or when you run the `chain build` or `generate` commands.

But for CI purposes, as you suggested before, it makes sense to have a `--skip-proto` which could be useful in case cache files are not persistent on the CI.

Mentioning you for visibility, as this might be interestin

[2022-08-04 10:15] robert-zaremba commented on #2687
Thank you!

[2022-08-04 15:04] jeronimoalbi opened #2699 "Blog tutorial fails when using `feat/sdk-ibc-upgrade` branch"
This issue is related to #2677

**Description**

The blog tutorial fails when the app is initialised with the error:

[code]

**To reproduce**

- Checkout the `feat/sdk-ibc-upgrade` and compile Ignite CLI using `make`
- Scaffold the blog chain app: `ignite scaffold chain blog`
- Add a replace statement to the `blog/go.mod` so the chain app uses the local CLI repository (the path may be different f

[2022-08-04 15:36] #2686 closed

[2022-08-04 16:38] aljo242 commented on #2699
@jeronimoalbi, I'm not able to reproduce this error following the same steps:

[code]

[2022-08-05 12:09] lubtd opened #2700 "Adding interchain account module in default template"
Depends on https://github.com/ignite/cli/issues/2673

As @fadeev suggests

Adding interchain account module to the default template: https://github.com/cosmos/ibc-go/tree/main/modules/apps/27-interchain-accounts

Interchain account is a general purpose module that could be useful for any chain to be connected to the Cosmos ecosystem. Same as the ibc transfer module.

[2022-08-05 12:48] lubtd opened #2701 "`0.46`: can't use `ignite account` commands"
**Describe the bug**
Part of https://github.com/ignite/cli/issues/2673
When building Ignite for `0.46` in `feat/sdk-ibc-upgrade`, `ignite account` commands have errors.
This should be related to https://github.com/ignite/cli/issues/2679

[code]

[2022-08-06 17:24] jsimnz commented on #2473
Happy to open up a PR in the coming days to get the feedback going 👍

[2022-08-07 10:25] lubtd opened #2704 "`0.46` - `cosmosclient`: refactor `Decode` method to remove deprecated `Data` field"
**Is your feature request related to a problem or issue you encountered? Please describe.**
`Data` field of `sdktypes.TxMsgData` is deprecated in `0.46` https://github.com/ignite/cli/blob/0453e26ad81bb1f75009d2072c9765e147f27aa1/ignite/pkg/cosmosclient/cosmosclient.go#L244

[code]

The method should be refactored to use `MsgResponses`

[2022-08-07 10:27] lubtd commented on #2701
Related PR merged

[2022-08-07 10:27] #2701 closed

[2022-08-08 07:11] fadeev opened #2705 "Template: remove useless code from the module template"
Remove the `RegisterCodec` function from `module.go`.

https://github.com/ignite/cli/blob/0453e26ad81bb1f75009d2072c9765e147f27aa1/ignite/templates/module/create/stargate/x/%7B%7BmoduleName%7D%7D/module.go.plush#L49-L51

`RegisterCodec` [has been renamed](https://github.com/cosmos/cosmos-sdk/pull/7243) to `RegisterLegacyAminoCodec` (which we already have in the template) a long time ago, so it's j

[2022-08-08 07:14] lubtd opened #2706 "`publish`: failure if the chain has a custom chain-id in `config.yml`"
**Describe the bug**
The publish command fails when publishing a chain with a custom chain ID in the `config.yml`:

[code]

Whatever the bug from the parsing of the chain ID, I think the solution should be to not parse the `config.yml` and always use `<name>-1` by default. Then the ID can be customized with `--chain-id` flag. `config.yml` is for local experimentation purpose and it doesn't make mu

[2022-08-08 07:18] jeronimoalbi commented on #2699
Issue fixed in #2701

[2022-08-08 07:18] #2699 closed

[2022-08-08 09:20] lubtd opened #2709 "`request verify`: can't start the simulation network when launching `spn`"
**Describe the bug**

`request verify` and `request approve` don't work because the simulation network used to verify the requests doesn't get online.

This issue seems to only happen when launching `spn` from `spn`

## Reproduce

[code]

The error is not from requests being invalid themselves since `ignite n request approve 2 3,4 --no-verification` can be used and the chain can be started afterwa

[2022-08-08 09:26] lubtd opened #2710 "`network`: Can't launch a network with several nodes on Gitpod"
It is no longer possible to launch a network with several nodes using Gitpod

The different nodes fail to connect to each other.

Still on previous version `0.45.x`

Might be caused by a change in network in Gitpog or a refatoring in chizel, etc...

From the logs
[code]

Further logs
[code]

[2022-08-08 09:59] lubtd commented on #2415
Solved with requests verification

[2022-08-08 09:59] #2415 closed

[2022-08-08 10:39] jeronimoalbi opened #2711 "IBC tutorial fails when running `ignite relayer connect`"
**Description**

Related to #2673

The relayer fails when following the [IBC tutorial](https://docs.ignite.com/guide/ibc).

The `ignite relayer connect` command returns the error message:
[code]

The error message is the result of calling the [@confio/relayer](https://www.npmjs.com/package/@confio/relayer) through [nodetime](https://github.com/ignite/cli/tree/feat/sdk-ibc-upgrade/ignite/pkg/nodeti

[2022-08-08 11:10] lubtd commented on #2711
You are mentioning

But your `ignite version` shows your are on `develop` branch which doesn't include `0.46`. Did you run `ignite version` from `feat/sdk-ibc-upgrade`?

[2022-08-08 11:24] jeronimoalbi commented on #2711
Thanks for the head up @lubtd!

I just checked and I am using a binary that I compiled for the 3ba3593 which at the moment is the last commit in the `feat/sdk-ibc-upgrade` branch.

It is true that "Ignite CLI version" shows "development" which might be misleading. Maybe is not a bad idea to change the build to include the branch next to the version:
[code]

[2022-08-08 12:54] lubtd commented on #2710
Cause in https://github.com/ignite/cli/commit/a8c3973576f8a74b5a843d8d838edd8b5e6da35a

[2022-08-08 15:09] nitinmewar commented on #2705
can I start work on it?

[2022-08-08 15:30] fadeev opened #2712 "INIT: Make IBC module scaffolding compatible with interchain accounts"
In `module_ibc.go` inside `OnChanOpenInit`:

[code]

When building an ICA authentication module, on the controller chain separate ports are opened for separate accounts. So, instead of having a single port for a module, you'd get a bunch of ports like `icacontroller-cosmos***`. If we have an error checking like above, it will always throw an `invalid port` error.

[code]

[code]

Basically, if we

[2022-08-08 15:42] fadeev commented on #2705
Sorry, it has a PR already associated with it.

[2022-08-08 15:47] lubtd commented on #2712
The current `ibc-module.go` scaffolding is a generic scaffold for checks that you generally have for most modules.
Like the version check, versioning is a feature offered by IBC so we generate the code that is necessary to check the version.
Then you add additional logic based on your module, like verified client check for `monitoring` module of `spn`

So I don't think we should remove the version